[2018-04-20 09:59] xlog2n commented on #975
you say: I have set-up reverse proxy using Apache
you must configure cross-domain information in Apache httpd.conf
because remix-ide help you visit web3 provider. their domain or ports are different.

[2018-04-20 14:26] thonymg opened #1270 "Where is the "linkremixdebugger" script"
Hello,
I have some issues when i try to install remix-ide with the npm package. and now i try to install it by clonning the source and run some commandes.

But when i launch `npm run setupremix`, the installation fails. Beacuse:
- `pullremix` can't clone package from github
-> i try to solve this by cloning the package miself, and remove the script from `setupremix`

- after i re-run the install a

[2018-04-20 16:14] kk412027247 opened #1271 "can not install the pack"
### when i run 'sudo npm install remix-ide -g' and get the error.

could somebody help me ?

[code]
#### debug.log
[code]

[2018-04-23 06:28] yann300 commented on #1270
sorry for that,
actually the script is not necessary anymore

[2018-04-23 06:30] yann300 commented on #1271
.hmm you got a `permission denied` even though you run with sudo. trying perhaps reinstalling `.npm`

[2018-04-23 06:35] yann300 commented on #1270
addressed by https://github.com/ethereum/remix-ide/pull/1273

[2018-04-23 12:52] tysun opened #1275 "cannot input text into the CREATE field."
Sometimes I can enter text into the field beside the pink create button but most of the time it is disabled. I try clicking in it but it doesn't do anything even though the create button works properly. I have my functions set up properly etc.

[2018-04-23 15:53] yann300 commented on #1261
The stack trace util could be useful at some point yes. I agree with yout, then let's put the permission layer after ... but soon :)

I think there should be two kind of registry, one for our internal stuff (where ids would be like 'compiler' or 'udapp').
internal module would be published that way:
`{ event } = registry.publish(moduleId, this)` and later replace by
`{ event } = registry.publish(m

[2018-04-23 16:07] yann300 commented on #1275
are you sure that the ctor actually contains parameter?

[2018-04-24 03:32] tysun commented on #1275
I found out what it was. When the function name is the same as the contract name "**greeter**" the `string _greeting` parameter placeholder text shows in the text field and I can enter text. But when the name of this particular function is different there is no placeholder text and I cannot enter text into the text field. Is this a requirement of Solidity? The contract class needs a method with th

[2018-04-24 07:41] yann300 commented on #1275
yes in that case the function greeter is the constructor and used for initialization.

[2018-04-24 07:41] #1275 closed

[2018-04-24 08:07] #1270 closed

[2018-04-24 13:08] ryestew commented on #1153
Here is a view of the carets on the right side - now they are up and down angles:

<img width="390" alt="image" src="https://user-images.githubusercontent.com/6050001/39188983-65d3805c-47d1-11e8-92fa-c2f908a26121.png">

[2018-04-24 16:36] ninabreznik commented on #1153
Nice. I like this more. @ryestew

[2018-04-24 20:16] littlebenlittle opened #1276 "Contract creation fails but MetaMask still offers to sign?"
Just running the example contract (ballot.sol) on the Ropsten network. The output is here

https://pastebin.com/pshMkwmv

Remix dumps the error message into the terminal before MetaMask prompts to sign the transaction. Once you agree to sign, the contract appears in MetaMask as failed.

[2018-04-25 05:45] yann300 commented on #1276
Seems to be related to metamask, are you on the last version? Best would be to ask in the metamask channel if they have already seen that...

[2018-04-25 09:47] ondratra commented on #1192
I encountered the same problem. It is "pending" everytime. Using current Solidity compiler 0.4.23 doesn't solve the issue.

[2018-04-25 10:14] yann300 commented on #1192
unfortunately the fix is not yet merged..  coming pretty soon

[2018-04-25 14:15] ryestew commented on #1153
I think we have some conflicts with Call - because that word is also used for functions that return constants ( free ones ).  So Run or Transact or Snd Txn might be better - well if its a free one - the text could change - to Call and if it costs - then Transact.  Any thoughts?

[2018-04-25 14:54] ninabreznik commented on #1153
I agree, this makes sense. I would vote for run, since it's really generic and easy to understand, plus we already call a tab a Run tab, so users kind of expect to run things there :)

Transact is also not bad, I have to say. It says clearly that you will run a transaction and in real life we connect transaction with something payable, which is also what transactions actually are - a payable run.

[2018-04-25 15:20] Abdeljalil95 opened #1279 "call to C.anyfunction errored: Cannot read property 'length' of undefined"
my contract gives the error when I deploy and I set 'Value: 2000000000 wei'

[code]

any function give me
**call to testaAFC.anyfunction errored: Cannot read property 'length' of undefined**

[2018-04-25 16:02] yann300 commented on #1279
you got this calling `buy` ?
Are you using the javascript VM? in that case please try to switch to a testnet using metamask for instance. we have a bug in the internal VM that might cause this

[2018-04-25 16:13] yann300 opened #1280 "Libraries Linkage"
Currently when deploying a contract, all the libraries that needs to be linked are deployed.
There is no way to specify beforehand library addresses.

With this PR, a JSON file is generated in the same folder as the contract file. This file let users to specify address of libraries that are already deployed, then the bytecode is directly linked.

[2018-04-25 16:14] yann300 commented on #1280
linked to https://github.com/ethereum/remix/pull/775

[2018-04-25 16:30] Abdeljalil95 commented on #1279
yees I use javascript VM.. but when i use metamask and ropsten network and I calling `bay` , remix give me
that : ``Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending? ``

thank you

[2018-04-25 16:35] yann300 commented on #1279
well you could force send, and then debug the transaction to check why it has failed.
Do you do in `buy` something that could cause a revert or a throw?

[2018-04-25 16:53] Abdeljalil95 commented on #1279
that what i do in the `buy`
[code]

[2018-04-25 16:55] yann300 commented on #1279
After sending the tx try debugging it to check where it fails

[2018-04-26 02:00] kk412027247 commented on #1271
@yann300  thanks, it work.

[2018-04-26 02:00] #1271 closed

[2018-04-26 11:51] axic opened #1282 "Support EVM version as a configuration setting"
THe standard JSON IO accepts an EVM version now (`settings.evmVersion`).

It would be nice to support it as a setting. (If not specified it currently defaults to Byzantium).

[2018-04-26 12:15] yann300 opened #1283 "[Terminal] Cannot expand Transaction result"
Expanding a transaction result in the terminal if the contract to whom the tx is sent is unknown throws a JavaScript error.

To reproduce:
 - connect to a testnet using metamask
 - in the terminal, select "listen on network"
 - if necessary in the dropdown list on the left select "all transaction"
 - wait for txs to come in
 - and try to expand one

[2018-04-26 20:36] rainbowcreatures opened #1284 "JavaScript VM libraries don't work?"
Sorry if this is already known, but even with a simple "hello world" library I'm unable to deploy in JS VM on remix. Deployment of the library shows as 0x0 Transaction mined but execution failed, and subsequently, a contract function calling any library function will fail.

When deploying the same library to ropsten, it works fine.

And on remix-alpha, it seems to be working fine in JS VM - but I'

[2018-04-27 07:14] kggp1995 commented on #975
@chainhead , you may wanna check your firewall rules. Could that geth node be a new VM & you missed setting up the firewall inbound rules for port 8545?

[2018-04-27 11:46] yann300 commented on #1284
sorry for that, the fix for libraries deployment is going to be released soon.
could you describe the other issue you have in remix-alpha.ethereum.org?

[2018-04-27 11:51] yann300 opened #1285 "[Terminal] the status field seems to have disappear"

[2018-04-27 13:16] rainbowcreatures commented on #1284
cool, thanks! - any idea when this could be resolved? (I don't mind actually if alpha remix works fine).

as for the other issue, it was me being blind, set the gas too low and the contract wasn't even properly deployed. It was odd that I could still try to call functions through the inputs (but they were returning undefined errors). Also, I didn't notice the transaction result in the log like on

[2018-04-27 21:31] ninabreznik commented on #1285
Solved with this PR https://github.com/ethereum/remix-ide/pull/1286

[2018-04-29 02:35] ninabreznik commented on #1283
Fixed with https://github.com/ethereum/remix-ide/pull/1287

[2018-04-29 06:52] #1285 closed

[2018-04-30 08:57] wenxinleong opened #1288 "sha256 returns"

[2018-04-30 09:00] yann300 commented on #1288
please could you add some more explanation?

[2018-04-30 09:05] wenxinleong opened #1289 "sha256 returns "0x""
a simple smart contract as below works ok on remix debugger, but failed on private network (`go-ethereum-1.8.6`). Deployment is ok, but `contract.getSha256.call()` will return `0x` . Same piece of code compiled on older remix (cannot recall the date) works ok, thus believe the bug is on remix than go-ethereum.

[code]

[2018-04-30 09:07] #1288 closed

[2018-04-30 10:05] yann300 commented on #1289
hmm I just tried can can't reproduce.. are you on remix.ethereum.org ?

[2018-04-30 10:10] wenxinleong commented on #1289
yes it is complied on remix.ethereum.org . You have to deploy it on a private net to see the problem.

[2018-04-30 10:18] yann300 commented on #1289
I did that... trying again, which compiler version are you using?

[2018-04-30 10:37] wenxinleong commented on #1289
ok i did a quick check,
it works ok on version: 0.4.21+commit.dfe3193c.Emscripten.clang
it failed since version: 0.4.22+commit.124ca40d.Emscripten.clang

[2018-04-30 12:17] wenxinleong commented on #1289
sorry typo i mean failed since "0.4.22+commit.4cb486ee.Emscripten.clang"

[2018-04-30 12:28] yann300 commented on #1289
wow I really can't reproduce...
@axic @chriseth any ideas?

[2018-04-30 12:32] wenxinleong commented on #1289
I'll be out of office for 2 days, will do more testing when I return to determine which nightly commit causing it.

[2018-04-30 13:02] chriseth commented on #1289
@wenxinleong these problems are usually caused by not selecting the byzantium hard fork on the private network.

[2018-04-30 13:35] wenxinleong commented on #1289
ok i’ll check that once i return, update soon.

[2018-04-30 22:42] serapath opened #1292 "terminal scroll bar can't be scrolled"
The element containing the ethereum background in the terminal is transparent but overlapping the scrollbar so it can't be scrolled on my computer.

A quick fix would be to add the css `pointer-events: none;` to that element, so users can click through it and use the scrollbar again.

[2018-05-02 01:13] wenxinleong commented on #1289
Enabling byzantium in genesis config file do fixed the problem, thanks all!

[2018-05-02 01:13] #1289 closed

[2018-05-03 05:22] serapath opened #1294 "terminal can't expan more than one function call log"
if a function call log is expanded and another one is clicked it wont expand unless the previous expanded function call log is collapsed first by clicking it again.

[2018-05-03 07:41] serapath opened #1295 "clear params on udapp after submit"
if udapp is expanded and filled out and submitted, the input field don't clear, so if you want to use it again you have to first manually clear and/or overwrite existing params

[2018-05-03 14:33] dinuni commented on #975
geth --networkid 1234 --rpc --rpcport 8545 --rpcapi "db, net, web3, personal" --rpccorsdomain "*" --rpcaddr "0.0.0.0" --testnet console
allows me to connect to Remix

[2018-05-08 11:01] #1283 closed

[2018-05-08 11:01] #1284 closed

[2018-05-08 11:04] yann300 commented on #1279
a fix has been pushed to remix.ethereum.org (by bumping ethereumjs-vm version).
I close that one, please reopen if you still have the issue

[2018-05-08 11:04] #1279 closed

[2018-05-08 11:05] yann300 commented on #1276
closing, please reopen if needed

[2018-05-08 11:05] #1276 closed

[2018-05-08 11:07] yann300 commented on #1269
sorry for the late answer, could you try removing the `node_modules` folder and rexecuting `npm install` ?
closing now, please reopen if you still have the issue, thanks.

[2018-05-08 11:07] #1269 closed

[2018-05-08 11:11] yann300 commented on #1267
here is how you should define the ctor:

[code]

[2018-05-08 11:11] yann300 commented on #1267
closing now, please reopen if necessary

[2018-05-08 11:11] #1267 closed

[2018-05-08 11:12] yann300 commented on #1254
remix.ethereum.org has been updated today with a fix. could you double check that it fixes your issues please?
closing now, please reopen if necessary

[2018-05-08 11:34] avatar-lavventura commented on #1254
@yann300  I have tried with the latest version (http://remix.ethereum.org/#optimize=false&version=soljson-v0.4.23+commit.124ca40d.js) I do still face with the same error.

[2018-05-08 12:40] yann300 commented on #1254
when you use `Web3 Provide mode` against which node are you connected to ? geth ?

[2018-05-08 12:43] yann300 commented on #1138
we've updated remix.ethereum.org today. please reopen if this is still not fixed.

[2018-05-08 12:43] #1138 closed

[2018-05-08 12:45] yann300 commented on #1113
a fix has been pushed to remix.ethereum.org. please reopen if the issue still occur

[2018-05-08 12:45] #1113 closed

[2018-05-08 12:46] #1187 closed

[2018-05-08 12:48] yann300 commented on #1033
closing now, please reopen if necessary

[2018-05-08 12:51] yann300 commented on #1023
is there some news about this one?
closing now, please reopen if necessary

[2018-05-08 12:51] #1023 closed

[2018-05-08 12:52] yann300 commented on #1017
the installation scripts has been changed a little. please could you give another try?
closing now, please reopen if necessary

[2018-05-08 12:52] #1017 closed

[2018-05-08 12:57] yann300 commented on #975
closing this now . please reopen if necessary.
I think that could likely be due to firewall rules

[2018-05-08 12:57] #975 closed

[2018-05-08 12:58] yann300 commented on #981
starting geth with:
`geth --rpc --rpccorsdomain="*" --rpcapi web3,eth,debug,personal,net --vmdebug --ipcpath /home/testchains/test2/geth.ipc --datadir /home/testchains/test2/ --dev console`
should be enough to connect to remix.
closing this now, please reopen if necessary

[2018-05-08 12:58] #981 closed

[2018-05-08 12:59] yann300 commented on #959
it has been pushed for sure by now

[2018-05-08 12:59] #959 closed

[2018-05-08 13:00] yann300 commented on #948
@soad003 @axic @chriseth would this should be added as a static analysis module?

[2018-05-08 13:05] yann300 commented on #996
the fix has been pushed. could you double check please? thanks
closing now, please reopen if necessary

[2018-05-08 13:05] #996 closed

[2018-05-08 13:07] yann300 commented on #933
the issue now is that the content of the editor is not cleared

[2018-05-08 13:07] #933 closed

[2018-05-08 13:07] yann300 commented on #914
should we do this? @ninabreznik @ryestew

[2018-05-08 13:10] yann300 commented on #897
we display a notification if `https` is used (already pushed to remix.ethereum.org)

[2018-05-08 13:10] #897 closed

[2018-05-08 13:13] yann300 commented on #875
instead of a popup, having a real content that will replace the current Remix view (and containing links to doc, more explanations, ...) would be really nice.
@ninabreznik @ryestew

[2018-05-08 13:16] yann300 commented on #739
Closing, cause I think I meant `publish to Swarm` here. and this is already working well

[2018-05-08 13:16] #739 closed

[2018-05-08 13:25] #221 closed

[2018-05-08 14:55] iurimatias opened #1297 "integrate remix-tests"

[2018-05-08 15:08] ninabreznik opened #1298 "Terminal/Command Line"
Create:
- documentation for command line in Remix terminal
- list of all commands (in Javascript syntax)
- filter out styling when pasting in the console
- commands for tests

[2018-05-08 15:19] ninabreznik opened #1299 "Article about new release"
https://github.com/ethereum/remix-ide/releases

[2018-05-08 15:38] ninabreznik opened #1300 "UI/UX IMPROVEMENTS - TERMINAL"
Command line
https://github.com/ethereum/remix-ide/issues/1298

[2018-05-08 18:35] zmitton commented on #454
ok thanks @yann300, but in what way should bytes be input (for any future readers of the thread)?

[2018-05-08 18:43] yann300 commented on #454
bytes should be written in the hexadecimal representation

[2018-05-08 19:30] avatar-lavventura commented on #1254
I am using geth, and I am using private ethereum network. But I cam deploy my contract through geth console: Please see: https://ethereum.stackexchange.com/a/45792/4575

[2018-05-08 23:30] dean-kim commented on #996
@yann300 thx, I checked, and work well~!

[2018-05-09 01:57] dcalsky opened #1301 "Invalid bytes32 value while creating a transaction"
Once a function includes a bytes32 type argument, the transaction will create failed in the remix-ide.

Detailed error message is:
[code]

It seems the new version of remix makes it. Everything is worked on the old version.

[2018-05-09 02:27] cyberience commented on #1267
Thanks @yann300 I eventually figured that out, it wasn't so obvious. But Thanks for your review.

[2018-05-09 05:36] sugalivijaychari opened #1302 "Error while installing remix-ide in windows"
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\Windows\system32>node -v
v8.11.1

C:\Windows\system32>npm -v
5.6.0

C:\Windows\system32>npm install npm@latest -g
C:\Users\Vijay\AppData\Roaming\npm\npm -> C:\Users\Vijay\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js
C:\Users\Vijay\AppData\Roaming\npm\npx -> C:\Users\Vijay\AppData\Roaming\npm\node_m

[2018-05-09 08:15] yann300 commented on #1254
do I reproduce by deploying the following `Array` and calling `myContract` ?

[code]

[2018-05-09 08:45] jebadar commented on #920
I am still getting this error need help on solidity version : 0.4.23
Error: invalid solidity type!: tuple[]
    at XMLHttpRequest._onHttpResponseEnd (C:\Users\KikBits\AppData\Roaming\npm\node_modules\truffle\build\webpack:\~\xhr2\lib\xhr2.js:509:1)
    at XMLHttpRequest._setReadyState (C:\Users\KikBits\AppData\Roaming\npm\node_modules\truffle\build\webpack:\~\xhr2\lib\xhr2.js:354:1)
    at XMLHttp

[2018-05-09 09:49] yann300 commented on #1301
what is that value of `bytes32` you give?

[2018-05-09 10:08] dcalsky commented on #1301
"test", you can find it in error message

[2018-05-09 11:52] prashant-weiCrowd opened #1303 "error: Failed to decode output: TypeError: Cannot read property 'length' of undefined"
I just deployed a contract on the remix with the environment `Javascript VM`. I send a transaction to contract (invoked non-constant function) and I didn't get a proper response.

I could see long bytes as input but decoded input was {}.

I tried checking if state variables are updated or not. I got hit by error:
`error: Failed to decode output: TypeError: Cannot read property 'length' of undefine

[2018-05-09 11:53] avatar-lavventura commented on #1254
I have simplified, please try this:
After calling `registerCluster()` then when you call `getClusterAddresses()`you should see registered cluster's address but it won't show up.

[code]

[2018-05-09 12:09] yann300 commented on #1254
I am confused cause it works for me...
using javascript VM and also against geth 1.7.2 `geth --rpc --rpccorsdomain="*" --rpcapi web3,eth,debug,personal,net --vmdebug --ipcpath /home/yann/Ethereum/testchains/test2/geth.ipc --datadir /home/yann/Ethereum/testchains/test2/ --dev console`

could you trying cleaning the browsre cache (or run remix-ide via npm module)

[2018-05-09 12:10] yann300 commented on #1303
thanks for the report. could you please post the contract code?

[2018-05-09 12:11] avatar-lavventura commented on #1254
That's what I am trying to say. It works on `Javascript VM`. But when I deploy the contract using Web3 provider it does not work as a deployed contract.

[2018-05-09 12:13] yann300 commented on #1254
I also tried against `Web3 provider` and geth 1.7.2

[2018-05-09 12:13] avatar-lavventura commented on #1254
[code]

[2018-05-09 12:14] yann300 commented on #1254
what backend are you using?

[2018-05-09 14:28] Eurno commented on #1301
I am also having this problem, my code worked fine and now it fails with the same error whenever I feed it anything.

[2018-05-09 15:44] yann300 commented on #1301
The new abi coder expect to have hex encoder string for `bytes32` (like `0xabcd`) .. we will try to figure out a way to be more flexible

[2018-05-09 15:55] dcalsky commented on #1301
According to your suggestion, I have tried to pass hex string as the argument, and it's working now.  Using the previous way to handle both bytes32 and string is better.

[2018-05-09 21:43] serapath opened #1305 "simplify development and reduce load times"
We should:
1. cache compilers locally to save the time to reload them
2. change the app in a way that doesn't require a manual "clear cache + hard reload" to apply changes

It really takes a lot of time over time to use the devtools to reset the application cache and then hard reload the app just to see changes.

I think if we change that, we can actually even move to a real-time workflow where re

[2018-05-10 06:04] xuanluo2016 commented on #1271
tried npm 5.6 and 6.0.1 with command:
sudo npm install remix-ide -g
and both failed with error: /.npm/_cacache/tmp/git-clone-91f2d684/.git: Permission denied

workaround:
downgrade npm to 4 by: sudo npm install -g npm@4
and then try installing remix again. this works for me.

[2018-05-10 06:21] prashantprabhakar opened #1306 "Remix Tab hangs if a function is called recursively"
Hi just tried sending a transaction using Remix compiler and the remix tab in Chrome browser hanged immediately.  While all other tabs in the browser were working properly.

I tried the same again, the same happened again. After some time tab crashes with **Aw, Snap !** page.

I will debug into this more so that I can provide a more clear way to reproduce, but I guess this can be reproduced with a

[2018-05-10 07:56] Eurno commented on #1301
The traditional way of using the bytes32 still works when you have deployed the contract on Rinkeby, it just makes testing a lot more time consuming.

[2018-05-10 12:57] prashantprabhakar commented on #1303
After debugging the issue, I realized that contract was not deployed properly. Once I increased the gas, I was able to call the functions and send transactions without any issue.

In previous versions, when gas is less while deploying contract, I get hit by `insufficient gas` error. But in this case, it took me 2 hours to figure out the issue. Since I could see the contract functions on left pan s

[2018-05-10 21:47] dillonsvincent commented on #1303
@prashantprabhakar I agree, this issue was causing me a headache until I read your comment.
The "error: Failed to decode output: TypeError: Cannot read property 'length' of undefined " is caused by a failed contract creation but remix still returns the contract endpoints as if it were successful.

The work around is to view and expand the log output of the transaction for deploying the contract.

[2018-05-15 14:40] ninabreznik opened #1309 "Documentation - MD files + page setup"

[2018-05-15 14:43] ninabreznik commented on #1245
linked to https://github.com/ethereum/remix-ide/issues/1305

[2018-05-15 15:05] ninabreznik opened #1310 "app.js:209156 Uncaught TypeError: Cannot read property 'innerText' of undefined"
![uploads/3df85629-f197-461f-a820-8f7aa0458ede/Screenshot_2018-05-15_11-04-57.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F3df85629-f197-461f-a820-8f7aa0458ede%2FScreenshot_2018-05-15_11-04-57.png)

[2018-05-15 15:57] yann300 opened #1311 "Warning in log if transaction failed"
from this comment : https://github.com/ethereum/remix-ide/issues/1303#issuecomment-388196287

in the log, the status show 0x0 or 0x1 (if tx success or not).
Users need to expand the log to see if the tx has failed or not. perhaps that info could be displayed in the "main" info line or the info line could be slightly on red...

[2018-05-15 16:18] yann300 opened #1313 "Contracts are instances are rendered using the function parameter as id ..."
.... that leads to duplicate id warning in the browser dev console.
![unknown](https://user-images.githubusercontent.com/6940742/40069699-57d62350-586c-11e8-8455-00f1f61fb458.png)

[2018-05-16 09:42] yann300 commented on #1309
md convertion is done.
We need now to fix the links, and rearrange the left menu panel.

[2018-05-16 09:51] yann300 commented on #1295
I believe this is fixed or about to be fixed in https://github.com/ethereum/remix-ide/pull/1307 right ? @ryestew

[2018-05-16 09:58] yann300 commented on #1261
@serapath
to resume, we would have:
`{ event } = registry.publish(moduleId, this)` to register a new module
and
`{ api, event } = registry.get('moduleId')` to use an existing module

[2018-05-16 10:09] #1299 closed

[2018-05-16 10:09] #1153 closed

[2018-05-16 10:09] #1156 closed

[2018-05-16 10:10] #994 closed

[2018-05-16 11:33] ryestew commented on #1295
yes - this is done in the PR that will be pushed in a few min

[2018-05-16 19:21] RemyAZEMA opened #1315 "error: Failed to decode output: TypeError: Cannot read property 'length' of undefined"
Hi,

I have this error when I call any function after deployment => **error: Failed to decode output: TypeError: Cannot read property 'length' of undefined**

I had this error a first time and I solved it by increasing the gas limit before deploying my contract.

Today I add some functions in my contract and this error is comme back. I tried to increase again gas limit by this time didn't work.

I

[2018-05-17 04:40] hypermine-bc commented on #1315
Increase the gas price while deploying the contract... its an issues in the latest version(I think).. and then try it once again.. same happened with me once.

[2018-05-17 04:40] hypermine-bc commented on #1315
https://github.com/ethereum/remix-ide/issues/1303 checkout this thread

[2018-05-17 06:34] #1310 closed

[2018-05-17 13:04] RemyAZEMA commented on #1315
Hi hypermine-bc,

Thanks for answers.
I tried this solution but it doesn't work in this case.

Currently I can't continue my dapp developpement.
The only issue I have found is to delete some secondaries fonctions to reduce contract's size. But this is not a good way. There is a lot of things I want to add in this dapp.

Do you know an other way to solves it ?

[2018-05-18 11:56] yann300 commented on #1315
is the deployment of the contract was ok? @RemyAZEMA
You could PM the contract code if you want, I can take look.

[2018-05-18 12:27] kyriediculous commented on #1303
@prashantprabhakar @dillonsvincent
Thanks for the comments, ran into the same issue just now.

When looking at the status in the logs we can indeed see that the deployment of the contract failed.

0x0 Transaction mined but execution failed
--
to | Bounties.(constructor)
--

[2018-05-18 17:42] comeonbuddy commented on #1303
I also have this issue, but increase gas limit doesnt seem to help, my gas is already very high. I think it might be my contract code is too complicated. This is a bit annoying tho, I do not want to change my code. What should I do?

[2018-05-18 17:47] dillonsvincent commented on #1303
@comeonbuddy if this still happens on the main or test net, yes. But in js vm raise the gas as high as you need to get the tx to go through. Change the 4 to a 5 then 6 it will eventually go through

[2018-05-18 17:49] yann300 commented on #1303
@comeonbuddy could you PM the contract code please? I would like to check whether it could be an issue with remix

[2018-05-18 18:07] comeonbuddy commented on #1303
@yann300 sure. how do I PM you, via email?

[2018-05-18 18:08] comeonbuddy commented on #1303
@dillonsvincent I was able to deploy it onto Rinkeby.

[2018-05-18 19:30] RemyAZEMA commented on #1315
@yann300
Hi, I would like send you my contract code by PM but I don't know do that on github.
Is there a form on github to send private massage?

[2018-05-18 19:32] yann300 commented on #1303
@comeonbuddy I can't find it in your repo ...

[2018-05-18 19:55] comeonbuddy commented on #1303
@yann300 sorry inside branch mileston-12

[2018-05-19 15:55] apa7 commented on #1220
+1

[2018-05-19 20:38] RemyAZEMA commented on #1315
I solved temporaly this problem by reduce the lines of code in my contract.
I suspect that Remix can not handle a large contract.

[2018-05-21 09:57] paulhauner commented on #1303
I also experienced this issue when deploying the code found in this contract (I copy/pasted it from Etherscan into Remix).

https://etherscan.io/address/0xbB902569a997D657e8D10B82Ce0ec5A5983C8c7C#code

Using Javascript VM and this url `https://remix.ethereum.org/#optimize=false&version=soljson-v0.4.24+commit.e67f0147.js`.

P.S. remix is awesome, thanks.

[2018-05-22 10:08] comeonbuddy commented on #1303
hey @yann300 any updates? I am curious to learn ur thoughts on this.

[2018-05-22 10:18] yann300 commented on #1303
@comeonbuddy could you describe how you deploy the contract using your deploy script?
you can PM me at `gitter.com/yann300`

[2018-05-22 14:29] ninabreznik opened #1321 "Highlight input field in UDapp when missing param (encoding error)"

[2018-05-22 14:35] ninabreznik opened #1322 "Hash missing from tx log in terminal"

[2018-05-23 12:38] #1295 closed

[2018-05-23 17:29] ninabreznik commented on #1265
* contract can be debugged in 3 ways:
- when you click debug (terminal log)
- when you pass in the tx hash (and then click play)
- when you pass in block and index (and then click play)

* if you want to see steps highlighted in the source code, contract has to be opened

* only compiled contract can be debugged (if it doesn't compile, you can't use debugger to debug it)

* Dropdowns in the debugg

[2018-05-23 18:30] serapath commented on #1261
I will try to put all of this and comments in another code example like the one above, where this time, i would have many modules using our module, that i will just call `appcomm` here.

There would be modules that communicate with each other in hopefully all possible ways, maybe including an iframe and one module (maybe `app.js`) that will log all communication that is going on, which is exactly

[2018-05-23 23:08] axic commented on #1282
This seems to be a more needed feature now, for more context:

I've also raised this at truffle: https://github.com/trufflesuite/truffle-compile/issues/72

[2018-05-24 02:29] #1059 closed

[2018-05-24 02:34] #1057 closed

[2018-05-24 08:14] #1311 closed

[2018-05-25 15:08] morkeltry opened #1327 "Firefox requires page refresh to display contract's getter/ setter inputs in Run tab"
After 'Deploy', contract is created and shows dropped down in Run tab, but only buttons relating to functions which were already in Storage when page loaded are shown.
Any changes since last page refresh show only in code pane and do not result in buttons in the drop down area of the contract in Run tab.

Refreshing page updates it and buttons then show after Deploy.

FF: 60.0.1 (64bit) for Ubuntu

[2018-05-26 05:07] HappyITWala commented on #1302
Just wondering if there is a workaround by changing the config so that remix should pick the path of scrypt from given location?

Error - Cannot find module './build/Release/scrypt'
Scrypt as well as Remix are here on my PC - MYfolder\npm\node_modules\

[2018-05-26 05:31] HappyITWala commented on #1302
Workaround worked for me.  Copied MYfolder\npm\node_modules\scrypt\build to MYfolder\npm\node_modules\remix-de\node_modules\scrypt (Or create shortcut)

[2018-05-29 06:00] prashantprabhakar opened #1329 "Unable to connect to Metamask"
I was trying to connect remix with Metamask. When I change provider from Javascript VM to Injected Web3m I get error:

While metamask injected web3 in browser. I could use web3.accounts in browser console.

While this was working before. I have used this 10000 times. Not sure if something is broken.

[2018-05-29 07:36] hrishikeshio commented on #1322
+1. I actively used this. Need it as soon as possible.

[2018-05-30 22:02] HariPadBharti opened #1331 "Constant function returns nothing when order of call changes"
I wrote a simple contract to set a value, then increment, decrement and get the calculated value. I tried to get values without setting value and made get call, then set value, still don't get any value when I call get.

Please find my code below and try to "get" first before "set", then "set" and call "get".
[code]

[2018-05-31 06:08] yann300 commented on #1331
calling `set` and then `get` works on remix.ethereum.org, are you using this?

[2018-05-31 15:36] HariPadBharti commented on #1331
Yes, but if you do first `get` and then `set` doesn't work

[2018-06-01 18:50] ARitz-Cracker commented on #1303
As a workaround, add a couple of extra zeros on the gas limit. A contract previously unable to deploy on the VM now deployes. https://puu.sh/AxgXh/406c25ff1e.png

[2018-06-02 14:50] ninabreznik commented on #1265
Slider moves to the slider in Instructions and each step in instructions becomes also clickable
![screenshot_2018-06-02_15-48-39](https://user-images.githubusercontent.com/1076427/40877673-a72d066c-667c-11e8-9ec0-67bac70f33ad.png)

[2018-06-04 07:06] ytrezq opened #1337 "Sometimes, the debugger on https://remix.ethereum.org/ doesn’t use the matching source code"
Sometimes like with [this transaction](https://etherscan.io/tx/0xf93ef71fa7c7d7686fb0ebfc7ac6fb512570614665aa2f324622f6942e37d5d0), the [matching source code](https://etherscan.io/address/0x35792029777427920ce7adeccce9e645465e9c72#code) isn’t used for debugging, despite being compiled with the same compiler version.

How to force Remix to use a specific solidity source code (even if constructors d

[2018-06-04 17:45] zheng-bin opened #1338 "How can I push25 bytes?"
The reason：
1. My address is 50.
2. The ethereum address is 40.
3.  The  remix-ide only push 20.
4.  So  1&2,  The first ten will become 0.
Please see the picture:
![image](https://user-images.githubusercontent.com/18119716/40932463-fa132150-6860-11e8-8ca0-1d15924322ad.png)

I add the log like this:
[code]
**Where should I modify the ide to push25?**
Thanks!!!

[2018-06-05 03:38] zheng-bin commented on #1338
**``**

[2018-06-05 07:37] yann300 commented on #1331
are you on the javascript VM? cause I can't reproduce...

[2018-06-05 07:38] yann300 commented on #1329
could be something with infura's node.. is this fixed now?

[2018-06-05 07:41] yann300 commented on #1338
could you pinpoint how the evm code is generated?

[2018-06-05 07:52] yann300 commented on #1327
what do yo mean by `relating to functions which were already in Storage` ? browser storage?
I tried with an earlier version of firefox and it works. will investigate more though.

[2018-06-05 09:04] zheng-bin commented on #1338
The code REC20 is generated by http://remix.ethereum.org.
Using the same evm code,the following is a comparison of my chain and Ethereum.
Ethereum:
![image](https://user-images.githubusercontent.com/18119716/40965939-b1369db4-68e1-11e8-8b66-9b5d7f5b0c59.png)
 my chain:
![image](https://user-images.githubusercontent.com/18119716/40965843-72b47a98-68e1-11e8-90f4-3848fd57af08.png)

Should I change th

[2018-06-05 09:22] yann300 commented on #1338
Could you post the solidity code ? how your chain is generated? is this a private geth node?

[2018-06-05 12:30] #1338 closed

[2018-06-05 12:42] zheng-bin opened #1341 "How can I change push20 to push25?"
I want change the PUSH20 to PUSH25。
Where should I modify the code?
Is remix-ide only a ide, it calls solidity(https://github.com/ethereum/solidity)?

![image](https://user-images.githubusercontent.com/18119716/40976233-0c8a5c64-6900-11e8-93b9-cdb031cd74c8.png)
[code]

[2018-06-05 13:21] ninabreznik opened #1342 "Colors in Style Guide"
I was checking out Remix-alpha and figured out I don't really like all the colors in this view for example. I took the colors we have defined in the style guide but this green for example doesn't feel right. I didn't check the dark theme, but I noticed once that some elements don't adapt nicely or they are in some cases not even visible.

![screenshot_2018-06-04_21-46-09](https://user-images.githu

[2018-06-05 20:09] gravyplaya commented on #1271
This should not be a solution. Make the package compatible with latest npm.

[2018-06-05 20:12] gravyplaya commented on #1017
still an issue.

[2018-06-05 22:10] ytrezq commented on #1337
@yann300 : this isn’t an enhancement as the functionality already exists. It’s a bug since it’s broken in many cases.

[2018-06-05 22:24] ytrezq opened #1345 "The debugger on https://remix.ethereum.org/ doesn’t compute the target address correctly for this contract whatever the token transaction."
[Scry.info](https://coinmarketcap.com/fr/currencies/scryinfo/#markets) is an ERC20 token which chose security by obscurity (and also to not invest in something hidden since source code isn’t public at all).

The transfer function of the [main contract](https://etherscan.io/address/0x49df532ab12a9d1c152319290c1301b6c758e9eb#code) does not perform any kind of comparison check. At least not directly

[2018-06-06 07:16] yann300 commented on #1017
@gravyplaya could you please post a description of the error you got?

[2018-06-06 10:13] #1345 closed

[2018-06-06 12:07] #1341 closed

[2018-06-06 13:02] huzhengkui opened #1348 "how can geth cmd deploy two dependency contracts?"
Hi, guys,
 I met a problem. there are two contracts A and B.A use B's function,and B use A's function

Expected behaviour

1 contract A and contract B can deploy successfully
2 A can call the function of B

Actual behaviour

A call function of B failed

[2018-06-07 02:39] dwardu commented on #1292
I would like to work on this issue. Thanks.

[2018-06-07 21:30] fiddlemath opened #1351 "Open combined-json files from the File Explorer"
Feature request: Load, view source, and debug already-compiled contract files, of the sort output by `solc --combined-json`, by selecting them in the File Explorer.

This would enable after-the-fact, graphical debugging of contracts whose tests have been run on an external test node, providing a service that seems otherwise unavailable in the Ethereum toolchain.

[2018-06-08 05:12] MicahZoltu opened #1352 "Gas limit is ignored."
In the run tab of remix I am prompted to set the gas limit for my transactions.  However, setting it doesn't appear to actually work and instead estimated gas is used.  This is problematic when gas estimation doesn't work.  For example, I have a transaction that has variable gas costs based on when it is mined, so I need to explicitly specify gas and not use estimates.

Gas limit setting:
![image]

[2018-06-08 23:20] Syke565 opened #1353 "Error encoding arguments: SyntaxError: Unexpected token I in JSON at position 11"
I can't figure out what the problem is I know it has something to do with the amount tokens created but besides that I'm lost. Currently just practicing on Rinkeby Test Net.

/*
Implements EIP20 token standard: https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md
.*/

pragma solidity ^0.4.19;

import "./EIP20Interface.sol";

contract ItsDrizzyDrakesTokenDawg is EIP20Interface {

    uint256

[2018-06-08 23:40] #1353 closed

[2018-06-12 08:04] yann300 commented on #1329
closing now . please double check again, I think that was an issue with infura's node

[2018-06-12 08:04] #1329 closed

[2018-06-12 08:04] #1322 closed

[2018-06-12 08:06] yann300 commented on #1315
The issue was that the deployment failed (out of gas) for very large contract but the contract interfact was still appended to the UI, that was confusing.

[2018-06-12 08:06] #1315 closed

[2018-06-12 08:07] yann300 commented on #1309
@ryestew could you check the links are correctly displayed currently. I think that was the last point missing...

[2018-06-12 08:08] yann300 commented on #1303
The issue was that the deployment failed (out of gas) for very large contract but the contract interfact was still appended to the UI, that was confusing.

[2018-06-12 08:08] #1303 closed

[2018-06-12 08:09] #1302 closed

[2018-06-12 08:09] #1297 closed

[2018-06-12 08:11] yann300 commented on #1259
that implemented in  https://github.com/ethereum/remix-ide/pull/1260

[2018-06-12 08:14] yann300 commented on #1257
could you double check in remix-alpha.ethereum.org please ? but I think the new ABI coder we use should have fixed this issue.

[2018-06-12 08:14] #1257 closed

[2018-06-12 08:15] yann300 commented on #1246
moved to  https://github.com/ethereum/remix-ide/issues/1261

[2018-06-12 08:15] #1246 closed

[2018-06-12 08:18] #1241 closed

[2018-06-12 08:19] #1232 closed

[2018-06-12 08:20] prashantprabhakar commented on #1329
No. The issue still persists. I am getting the same response, when I try to connect to metamask.
URL: https://remix.ethereum.org/#optimize=false&version=soljson-v0.4.24+commit.e67f0147.js
Metamask is connected to ropsten network.
`{code: -32603, message: "Internal JSON-RPC error."}`

[2018-06-12 08:21] #1192 closed

[2018-06-12 08:21] yann300 commented on #1183
deployed to remix-alpah.ethereum.org

[2018-06-12 08:21] #1183 closed

[2018-06-12 08:28] yann300 commented on #958
other issue has been opened https://github.com/ethereum/browser-solidity/issues/1103

[2018-06-12 08:28] #958 closed

[2018-06-12 08:29] #948 closed

[2018-06-12 08:30] #840 closed

[2018-06-12 08:30] #810 closed

[2018-06-12 08:31] #580 closed

[2018-06-12 08:31] yann300 commented on #580
deployed in remix-alpha.ethereum.org

[2018-06-12 09:09] #953 closed

[2018-06-13 07:49] serapath commented on #1261
[code]

[2018-06-13 07:54] yann300 opened #1359 "Add new (reserved) Solidity 0.5.0 keywords to syntax highlighting"
PR https://github.com/ethereum/remix-ide/pull/1333

@raphaelhuefner

[2018-06-13 08:00] yann300 opened #1360 "Warn if hash collision in function signature"
Upon compilation complete,
use https://www.4byte.directory/docs/ to resolve function signature, display a warning if there is collision (more than 1 result for a single signature hash)

[2018-06-13 08:00] serapath commented on #1261
# consumer
[code]

[2018-06-13 08:51] serapath commented on #1261
# devtools
i'm not yet sure how the devtools should look like. my current take on it is something like:

[code]

[2018-06-13 09:32] yann300 commented on #1261
[code]

[2018-06-13 14:49] yann300 opened #1362 "In udapp, for each function and if applicable, allow to jump to the source code."

[2018-06-13 15:02] vs77bb commented on #1359
@raphaelhuefner Would you like to claim this one on Gitcoin?

[2018-06-13 15:43] yann300 commented on #1321
in the multiparam component (https://github.com/ethereum/remix-ide/blob/master/src/multiParamManager.js)
When the control is expanded:
 - should listen on focus out
 - if the encoding failed, input border should become red

@ryestew please could you double check that this correspond to what we planned

[2018-06-13 15:46] yann300 commented on #1313
- check if removing the id don't break something
 - we would look for a solution if it does.
in order to reproduce, add a contract containing several function with the same parameters list
[code]

[2018-06-14 09:57] zhuimengshaonian66 opened #1364 "debug in remix"
pragma solidity ^0.4.18;

contract  myToken{
     mapping(address =>mapping(address =>uint)) allowed;

       function allowance(address af,address spender) public view returns (uint remaining) {
        return allowed[af][spender];
    }

}
when i want to test the function allowance when i transfer two address in bower remix it return fault:
call to FixedSupplyToken.allowance errored: Error encod

[2018-06-14 10:01] yann300 commented on #1364
this issue should be fixed in `remix-alpha`.
in remix.ethereum.org please try to expand the param input editor, if that's not working try wrapping addresses with double quote.

[2018-06-14 10:07] raphaelhuefner commented on #1359
Sorry, forgot the most important step for the

## Action Plan:

- Re-integrate separate NPM package into remix-ide.

[2018-06-14 10:13] yann300 commented on #1359
@raphaelhuefner what do you mean exactly by ` remix-ide's testing.` and `testing setup` ?

[2018-06-14 10:21] yann300 opened #1365 "Solidity import with Firefox"
`import "http://github.com/OpenZeppelin/zeppelin-solidity/contracts/token/ERC721/ERC721Token.sol";`
result in
`Unable to import "undefined": Error: XHR error` using Firefox (56)

[2018-06-14 10:30] yann300 commented on #1359
oh by `remix-ide's testing ` you mean using the compile, run and debugger tab from the right panel right?

[2018-06-14 10:31] yann300 commented on #1359
or do you men end-to-end browser testing?

[2018-06-14 10:35] raphaelhuefner commented on #1359
@yann300 No, not the Solidity testing in the UI, I meant everything in these directories:

- https://github.com/ethereum/remix-ide/tree/master/test-browser-debugger/test
- https://github.com/ethereum/remix-ide/tree/master/test-browser
- https://github.com/ethereum/remix-ide/tree/master/test

I.e. Nightwatch and Saucelabs and friends.

[2018-06-14 10:41] yann300 commented on #1359
ok thanks
yes that's a good thing to test ace highlighting separately.
Please sync up with @ryestew who worked on the remix ui theming feature, rob might have some insight.

[2018-06-14 10:42] raphaelhuefner commented on #1359
Will do that!

[2018-06-14 12:02] vs77bb commented on #1359
Raphael's plan was accepted. @legitimate Thanks for your interest! Please be on the lookout for other tickets [here](gitcoin.co/explorer).

[2018-06-14 12:50] yann300 opened #1366 "Beta Test for v0.6.4-alpha.1"
TEST version deployed to http://remix-alpha.ethereum.org

[2018-06-14 15:35] ninabreznik commented on #1366
Here is what is new in this release:
https://github.com/ethereum/remix-ide/releases/tag/v0.6.4-alpha.1

[2018-06-15 05:42] zhuimengshaonian66 commented on #1364
@yann300  thanks you but i can solve  ,   now  i also fund a new bug   ho  my god  sad

[2018-06-15 06:40] aj07 commented on #1366
I would love to work on it. I searched on gitcoin. It was not listed there.

[2018-06-15 11:40] ninabreznik commented on #1366
@aj07 Hello, I think @yann300 mentioned he will publish it soon, but not sure he already did it.

Btw do you have any experiences with using Remix? If not a lot, I recommend you, to check out
[Remix Documentation](http://remix.readthedocs.io/en/latest/)
[Workshop slides](https://slides.com/ninabreznik/deck-11-13#/)

We are just starting with recruiting couple of alpha testers to help us out with n

[2018-06-16 01:31] raphaelhuefner commented on #1359
## Status Update

- No new syntax highlighting behavior yet.
- Headless testing is working now. (With [puppeteer](https://www.npmjs.com/package/puppeteer) instead of [run-headless](https://www.npmjs.com/package/run-headless).)
- Claimed this NPM package name: https://www.npmjs.com/package/ace-mode-solidity .
- Source at https://github.com/raphaelhuefner/ace-mode-solidity .
- Next step is creating

[2018-06-16 02:32] jvmaia commented on #1360
Let me see if I understood it right. When the compilation is completed, I will search at the `https://www.4byte.directory/api/v1/signatures/?hex_signature=0x.....` for each function, using it signature to check if I receive more than one result, if yes I will create a warn in the panel. Is it right? I have a doubt: where should I do this, in the compile-tab.js after call the parseContract()?

[2018-06-16 06:35] jackbonaguro commented on #1033
Can you reopen? The same thing happened to me and I have wget installed on
Ubuntu 16.04

[2018-06-17 05:44] aj07 commented on #1366
@ninabreznik, thanks for your kind reply. I have good amount of knowledge on Remix. Also, I am going through the docs you suggested.  I will file an issue on the bug which I found there.

[2018-06-17 05:53] vendor77777 commented on #1366
Get Close Not Work ist ok fertipt im Sorry

atm0sphere <notifications@github.com> schrieb am So., 17. Juni 2018, 07:44:

[2018-06-17 06:55] aj07 opened #1368 "Visual Bug (UI/UX)"
Browser: Firefox
There should be proper alignment. Circled area are given as an reference.

![screenshot from 2018-06-17 12-22-08](https://user-images.githubusercontent.com/9623159/41505572-6d0700b0-7229-11e8-8cb4-ee7ff9dac3b3.png)

Also

![screenshot_2018-06-19_02-49-26](https://user-images.githubusercontent.com/1076427/41571515-76dca174-736b-11e8-86c9-b4b3b7d1d73b.png)

![screenshot_2018-06-19_0

[2018-06-17 13:31] vendor77777 commented on #1368
Wie kann ich EIPs zurück geben?

atm0sphere <notifications@github.com> schrieb am So., 17. Juni 2018, 08:56:

[2018-06-17 19:01] ninabreznik commented on #1366
@aj07 Sounds awesome. Maybe at the end (if we manage to get this issue to Gitcoin and you can get financially rewarded), I would then kindly ask you to also prepare a little screencast where you can walk us through the problems you've encountered and do a little 'report' also in this way. This would help us get a quick overview over issues we need to fix before the real release.

[2018-06-18 13:45] ligi commented on #1360
No you should already print the warning if there is only one result - the function in the contract would be the second then.

You can even have this easier - just check the URL

if it returns 200 -> print the warning
if it returns 404 -> don't print a warning

This not only makes it easier - but also might help make it more decentralized in the future as we can put the same structure on swarm when

[2018-06-18 14:10] jvmaia commented on #1360
thanks for the tips, I'll do it

[2018-06-18 14:17] ligi commented on #1360
Happy coding!

@yann300 - just wonder if this perhaps should be feature in a solidity linter and then just be consumed by remix - would feel a bit cleaner and more generally usable

[2018-06-18 16:08] yann300 commented on #1366
@ninabreznik @aj07 I made the necessary to fund the issue. should be done pretty soon.

[2018-06-18 20:01] vs77bb commented on #1359
Thanks for the update, @raphaelhuefner!

[2018-06-19 11:22] KY-Jung opened #1371 "remix-id has a code limit ?"
HI
I got message "Transaction mined but execution failed" after deploy.

My contract code is about 600 lines.
There is no compile error.
And I set much more gas.

Finally I started to delete my code.
After so many lines were deleted, my contract deployed sucessfully.

I think remix-ide has a code limit.

[2018-06-19 15:27] arun1595 opened #1372 "Theme selection radio buttons are rendered as checkboxes in Chrome"
### Screenshot

![image](https://user-images.githubusercontent.com/7039523/41607159-fc4cb56c-73aa-11e8-8c59-9f7c68e6cc35.png)

I had a look at the code responsible for rendering the theme selection settings and we're indeed rendering radio buttons. I couldn't figure out why it's rendered as checkboxes.

Chrome version: 67.0.3396.79 (Official Build) (64-bit)

[2018-06-19 17:27] yann300 commented on #1372
closing now as it is fixed in remix-alpha.ethereum.org, soon to be deployed live

[2018-06-19 17:28] #1372 closed

[2018-06-19 17:29] yann300 commented on #1371
would you please try to deploy the code using a script and check if the deployment still fail?

[2018-06-19 17:29] yann300 commented on #1364
please could you reopen an issue with the bug you've found.
closing that one

[2018-06-19 17:29] #1364 closed

[2018-06-19 17:30] arun1595 commented on #1372
@yann300 Cool, didn't know it was already fixed.

May I know what the issue was?

[2018-06-19 20:12] ansermino opened #1373 "Max Call Stack Exceeded on npm run prepublish"
I am getting an error when running `npm run prepublish`, which is called by `npm install`. I am running Ubuntu 16.04 and Node 8.9.4. I have tried from a fresh clone with no success.

[code]

[2018-06-19 20:46] ansermino commented on #1373
Solved by switching to node 9.11.2

[2018-06-19 20:46] #1373 closed

[2018-06-20 07:56] yann300 commented on #1360
More insight for this issue (please @ligi correct me if i m wrong)
The warning should be displayed:
 - if there's more than 1 result
 - if there's 1 result and if the function signature is not the same as the current function being checked

The text should display:
"4bytes has recorded a hash collision in the function signature <function signature> : <list of function signatures> " . This means th

[2018-06-20 09:21] yann300 commented on #1360
ah ok I see now.
My point was that If there is already a collision , perhaps the contract developer want to change the function signature so it is usable by 4bytes consumers.

[2018-06-20 14:37] jvmaia commented on #1360
Should I update the actual message?

[2018-06-20 15:05] yann300 commented on #1360
yes please
and also could you take care of the previous messages:
thanks :)

[2018-06-20 17:34] jvmaia commented on #1360
Updated! I added '\n' in the message to be more readable.

[2018-06-20 17:53] raphaelhuefner commented on #1359
Hi all,

I'm still creating Solidity code snippets to test the syntax highlighting with. So far I have covered about 45% of `grammar.txt`.

[2018-06-21 09:39] yann300 commented on #1366
@aj07 is everything ok with the tests? feel free to reach us if you have questions

[2018-06-21 16:10] iamonuwa commented on #1321
@yann300 can you add images where I can reproduce this error?

[2018-06-22 04:56] aj07 commented on #1366
@yann300 , I am testing it in Chrome and firefox browser. It will take 3-4 days. I will ping you.

[2018-06-23 06:30] razaden commented on #1366
I'm going to start using it for a couple of small tests that I want to do. @ninabreznik I visited that gitcoin link that you gave me and told me to reply to, but there's no such option available there for me. Anyway, do you want us to record every development session?

[2018-06-23 13:34] aj07 commented on #1366
@razaden test has been started and few bugs has been filed too. If you want to volunteer , you are welcome :)

[2018-06-24 08:50] yann300 commented on #1321
@iamonuwa that's not a bug. The idea here is to properly warn the user when data can't be encoded:

![screenshot from 2018-06-24 10 47 52](https://user-images.githubusercontent.com/6940742/41817475-169cda74-779c-11e8-859f-cff2e74c6e3c.png)

![screenshot from 2018-06-24 10 47 23](https://user-images.githubusercontent.com/6940742/41817476-1cd2e168-779c-11e8-85a9-c9eb2597c9bc.png)

in this example, t

[2018-06-25 01:39] bakaoh commented on #1313
@gitcoinbot --- i'm still working on this

[2018-06-25 02:56] memorysky opened #1376 "Having trouble verifying a contract on etherscan.io"
I'm trying to verify a contract on etherscan.io.

The contract itself has a number of imports and libraries and has been deployed using remix.In our code, we imported other code like [import 'http://github.com/OpenZeppelin/zeppelin-solidity/contracts/token/ERC20/MintableToken.sol'].

I've copy/pasted the code from all the .sol files into the validation textbox on etherscan, have selected the same

[2018-06-25 08:28] yann300 commented on #1366
@aj07 I did'nt see bugs you've filed, where are they?

[2018-06-25 13:29] yann300 commented on #1366
@aj07 is following the workshop gave you any new bug?

[2018-06-26 07:00] aj07 opened #1377 "Auto Compile Mode"
By default   "  Beta Test for v0.6.4-alpha.1  "  should be on auto compile mode IMO

[2018-06-26 07:09] aj07 opened #1378 "Link is not working"
On support section for Beta version , Issue link isn't working.

![screenshot from 2018-06-26 12-37-32](https://user-images.githubusercontent.com/9623159/41894838-ea0a6118-793d-11e8-8a39-8ad3b862ac31.png)

[2018-06-26 07:12] aj07 commented on #1366
Hello @yann300 , @ninabreznik I tested the repo and figured out few small bugs on both Chrome and firefox.  https://github.com/ethereum/remix-ide/issues/1378
https://github.com/ethereum/remix-ide/issues/1377
https://github.com/ethereum/remix-ide/issues/1368

[2018-06-26 07:56] ninabreznik commented on #1366
@aj07 can you also send us the screen recording, please?

[2018-06-26 11:17] k06a opened #1379 "Don't allow deleting localhost path from the UI or warn the user that "deleting" does not mean "disconnecting"."
This is terrible. The directory should be just disconnected - not deleted of course! Can the directory be restored?

[2018-06-26 11:51] yann300 commented on #1379
It is disconnected, it should not have been removed. Could you precise the use case so we can help on this?

[2018-06-26 11:52] k06a commented on #1379
@yann300 I clicked on `localhost` and selected `Delete`. I was sure this will mean deletion from the tree (disconnection)

[2018-06-26 11:53] yann300 commented on #1300
closing that one as #1298 contains more description.

[2018-06-26 11:54] #1300 closed

[2018-06-26 12:05] yann300 commented on #1379
Well yes in that case I am afraid there is not so much to do.
The action to disconnect is the same as the connect to localhost. But I guess your files are still in the trashbin.
We will update the semantic here

[2018-06-26 12:13] k06a commented on #1379
@yann300 for some reason trash bin does not contain this files (I am using latest macOS). I think this also should be fixed.

[2018-06-26 17:49] aj07 commented on #1366
@ninabreznik I have uploaded the video. @yann300 Will you please move status of gitcoin to Done

[dfgr.mkv.tar.gz](https://github.com/ethereum/remix-ide/files/2138292/dfgr.mkv.tar.gz)

[2018-06-27 07:51] yann300 commented on #1366
@aj07 I think there were a misunderstanding, you should record screencast of the workshop demo:

[2018-06-27 07:56] yann300 commented on #1366
@aj07 you only have to follow the part related to remix, not the frontend one.

[2018-06-27 09:43] aj07 commented on #1366
@yann300 , now I got it. I need to follow the steps mentioned workshops material deploy on local while doing screen sharing.  Please, correct me if I am wrong.

Thanks

[2018-06-27 10:13] yann300 commented on #1366
you are right: follow the step described in the workshop (only remix related steps, not the frontend part) and record the session (screencast)

[2018-06-27 12:30] shivamti commented on #1329
I am experiencing the same issue!
inpage.js:1 MetaMask - RPC Error: Internal JSON-RPC error. Objectcode: -32603message: "Internal JSON-RPC error."__proto__: Object
(anonymous) @ inpage.js:1

[2018-06-28 09:03] #1313 closed

[2018-06-28 09:41] DMNV commented on #975
Hi
 I have the same question so if I use this command for create public ethereum node, please tell me is there is any changes to be done this cmd line
use azure VM,

### geth --identity "Four.Exchange.Node" --rpc --rpcport 8080 --rpcaddr "127.0.0.1" --rpccorsdomain "*" --datadir four.exchange.node --port 30303 --nodiscover --rpcapi db,eth,net,web3,personal,txpool --networkid 1 console

[2018-06-28 09:58] #1249 closed

[2018-06-28 10:05] shivamti commented on #1329
@yann300 please open this issue again. Restarting browser doesnt work

[2018-06-28 10:09] yann300 commented on #1329
could you switch network in metamask. I think that an issue with the rpc layer used by metamask

[2018-06-28 14:48] techieanant commented on #1376
@memorysky It might be due to either:

- Choosing the wrong compiler version OR

- Keeping Optimization enabled

Try setting the optimization enabled to NO and see if that works.

![image](https://user-images.githubusercontent.com/7658579/42041798-af764df8-7ac0-11e8-9356-5335c588a192.png)

[2018-06-30 05:19] raphaelhuefner commented on #1359
Yep, still working on this. As per previous "Next Steps", it's currently a mix of these two things:
- Fixing all obvious tokenization errors in the current tokenizations, which were produced by the current `mode-solidity.js` "as-is".
- Refactoring `mode-solidity.js` to support more/new syntax.

[2018-06-30 23:09] willdeuschle opened #1380 "Max Call Stack Exceeded"
I'm getting the same error as #1373 when I try to execute `npm run build`, and it was not resolved by switching to node 9.11.2.

`SyntaxError: Maximum call stack size exceeded while parsing /Users/willdeuschle/Dev/gitcoin/remix-ide/node_modules/solc/soljson.js while parsing file: /Users/willdeuschle/Dev/gitcoin/remix-ide/node_modules/solc/soljson.js`

MacOS 10.13.4, node v9.11.2, npm 5.6.0.

[2018-06-30 23:09] willdeuschle commented on #1373
Anything else you did to fix this?

[2018-07-01 00:48] willdeuschle commented on #1321
Here is the functionality provided now. If you click into the box when it's expanded, edit the address, and then leave the box, it will turn red if the address is invalid and remain gray otherwise:

![screen shot 2018-06-30 at 8 40 23 pm](https://user-images.githubusercontent.com/16803992/42130098-fa102ea0-7ca6-11e8-964b-3a1a0a76b080.png)

[2018-07-01 19:17] zulhfreelancer opened #1382 "Feature request - a feature to change font family and font size for editor"
Hi,

I'm using Remix and I love it. Thumbs up to all Remix and Remix IDE team!

I have a feature request. Can we add a feature to allow users to change the font family/font name and increase/decrease the font size? 🙏🏼

I know we can use browser's zoom in/out feature. But it will zoom in/out everything on screen. 😢

Thank you.

[2018-07-01 19:19] #1382 closed

[2018-07-01 19:20] zulhfreelancer commented on #1382
Sorry, just noticed that we actually have it. But it's very small.

![screen shot 2018-07-01 at 7 19 02 pm](https://user-images.githubusercontent.com/3416976/42137892-bd143c7c-7d63-11e8-987d-78eb17d0cedc.png)

[2018-07-02 06:19] aj07 commented on #1366
![screenshot from 2018-07-02 11-41-09-1 copy](https://user-images.githubusercontent.com/9623159/42147934-c4444700-7ded-11e8-8029-5bff6fdf6896.png)

I am unable to Import the github code which is in step 8. There it got stuck .Please, have a look and let me know is there any way to bypass from it and check further steps.

[2018-07-02 06:30] yann300 commented on #1366
you have to do remix:batch with `dependencies.txt` selected. I PMed you

[2018-07-02 06:59] aj07 opened #1384 "Remix v0.6.4-alpha.1 bug"
" Unable to import code " Error msg appears. This bug is appearing only for Firefox not for Chrome.
![screenshot from 2018-07-02 11-41-09-1 copy](https://user-images.githubusercontent.com/9623159/42149357-78e30fde-7df3-11e8-87d7-5b873b756c35.png)

[2018-07-02 08:30] yann300 commented on #1384
addressed by https://github.com/ethereum/remix-ide/pull/1383

[2018-07-02 08:30] #1384 closed

[2018-07-03 10:38] stefek99 opened #1386 "Changing contract to deploy should not clear the constructor parameters"
I carefully crafted 5 constructor parameters.

Deploy.

Ouch. Wrong contract selected.

Change contract.

Values are gone.

Use text file to keep them handy or not clear it when changing the contract to deploy :)

[2018-07-03 14:46] raphaelhuefner commented on #1359
## Status Update
Consider the argument types of function `difficultSyntaxHighlight()`:
[code]

An ACE syntax highlighter is supposed to mark `callbackParam` and `simpleParam` with token type `variable.parameter`. Not with `identifier` like outside the function argument list.

`mapping`s and `function` types use parentheses for their definitions. Those have to be nested inside the parentheses of fu

[2018-07-04 01:48] bakaoh commented on #1313
@vs77bb -- please take a look at this work

[2018-07-04 05:38] gheros opened #1388 "setup bug"
npm install
error

[build            ]
[build            ] > remix-ide@0.6.4-alpha.1 build /home/g/remix-ide
[build            ] > browserify src/index.js -o build/app.js
[build            ]
[build            ] SyntaxError: Maximum call stack size exceeded while parsing /home/g/remix-ide/node_modules/remix-solidity/node_modules/solc/soljson.js while parsing file: /home/g/remix-ide/node_modules/rem

[2018-07-04 07:51] aj07 opened #1391 "test for alpha version"
getting error unable to import opne zepliin

![screenshot from 2018-07-04 13-19-11](https://user-images.githubusercontent.com/9623159/42263968-17579780-7f8d-11e8-8fa2-13ce230d0c7a.png)

[2018-07-04 13:39] yann300 opened #1399 "Sync up with remix repo"
A lot of renaming and refactor happened in remix repo, remix-ide need to be updated accordingly.
basically:
 - web3 is no more a global object in the debugger code
 - remix-solidity is splitted in remix-solidity-analyzer and remix-solidity-decoders and remix-solidity (compiler)

[2018-07-04 15:58] #1261 closed

[2018-07-04 15:59] yann300 opened #1401 "add remix-solidity-analyzer as a separate package"

[2018-07-04 16:04] #1401 closed

[2018-07-05 07:45] yann300 commented on #1366
https://drive.google.com/open?id=1HpUu3Ec6_aCXEF4uC0sD1utwiJmE3C_c

[2018-07-05 07:46] yann300 commented on #1366
closing
thanks @aj07

[2018-07-05 07:46] #1366 closed

[2018-07-05 07:47] yann300 commented on #1365
fixed by https://github.com/ethereum/remix-ide/pull/1383

[2018-07-05 07:47] #1365 closed

[2018-07-05 07:51] aj07 commented on #1366
@gitcoinbot @yann300 how this request can be moved to Submitted and Done tag ?

[2018-07-05 09:01] ndsun commented on #1033
whene I excute npm install,this log shows
[build            ]
[build            ] > remix-ide@0.6.4-alpha.1 build /opt/remix/remix-ide
[build            ] > browserify src/index.js -o build/app.js
[build            ]
[build            ] Error: Cannot find module './soljson.js' from '/opt/remix/remix-ide/remix/remix-solidity/node_modules/solc'
[build            ]     at /opt/remix/remix-ide/node_mo

[2018-07-05 09:05] ndsun commented on #1269
I have the same problem with him, have you solved the problem?

[2018-07-05 16:38] sekmet commented on #1380
Same issue here.

SyntaxError: Maximum call stack size exceeded while parsing .../remix-ide/node_modules/remix-solidity/node_modules/solc/soljson.js

Debian 9, node 10.5.0, npm 6.1.0

[2018-07-05 20:14] CharlieDro commented on #990
I am having the same problem but none of the answers above have solved it; does anyone know any other steps I could take to fix this?

[2018-07-05 20:18] DroZeN3 opened #1404 "Remix mock compiler error"
I am trying to compile a contract and I am getting this error "mock compiler: source not found". Does anyone know why I am getting this?

[2018-07-05 20:38] yann300 commented on #990
selecting the last version of the compiler in the settings does not fix it?

[2018-07-08 02:39] fr0zenrain commented on #1373
macos 10.12 node 10.6 seems not ok

[2018-07-08 05:31] DroZeN3 commented on #990
Sadly no. I waited a few days and it still isn't working. I will try it on a different network soon and see if that works.

[2018-07-08 05:36] DroZeN3 commented on #990
Update: I tried again 3 days after and it finally works! Maybe it was just a small bug but I didn't do anything different, weird.

[2018-07-08 16:44] aj07 commented on #1366
@gitcoinbot I have already completed the issue. Due to high network fee, I am unable to complete the status from gitcoin

[2018-07-09 19:02] ayang99 commented on #1329
I'm still experiencing this in Remix Browser. I've updated Metamask and switched between Ropsten and Rinkeby. I've restarted Chrome and uninstalled/reinstalled Metamask.

[2018-07-10 02:15] vs77bb commented on #1313
Sorry for the delay @bakaoh - just paid out!

[2018-07-10 06:51] jazzyarchitects commented on #1388
Duplicate of #1380

[2018-07-11 07:00] MoMannn opened #1406 "Add an option to set optimizer runs."
It is possible to enable optimization but not to set the amount of runs..

[2018-07-11 15:29] aasimali141290 opened #1408 "Unable to copy the whole input string from transaction detail ."
When I copy the input from the debug it is only copying the partial string like 0x0da...00b instead of the whole string.

<img width="764" alt="screen shot 2018-07-11 at 11 37 18 am" src="https://user-images.githubusercontent.com/23409265/42583467-ffb135ce-84fe-11e8-92f4-9b3b16c3d738.png">

[2018-07-11 15:45] raphaelhuefner commented on #1359
Yes, still working on it. I solved the problem function arguments in https://github.com/ethereum/remix-ide/issues/1359#issuecomment-402183455

Next step is to create a PR against remix-ide to integrate what I did.

[2018-07-11 17:44] ansermino commented on #1399
Could I lend a hand with this?

[2018-07-12 07:17] yann300 commented on #1399
Thanks for proposing your help, There are still some PR to merge in remix before before we can continue with this PR

[2018-07-12 14:40] ansermino commented on #1399
Okay cool. Would love to contribute as I use this project almost everyday. Let me know :smiley_cat:

[2018-07-12 21:13] danfinlay commented on #1329
Hi @ayang99 and @shivamti, I'm on the MetaMask team.

The error you're hitting is our most opaque one, and is internally generated, so it's hard to tell what's happening from it. Could be a firewall, could be some internal bug we aren't aware of yet.

It might be worth [opening an issue with MetaMask](https://github.com/MetaMask/metamask-plugin/issues) directly, where you can document any debuggin

[2018-07-13 11:03] stefek99 opened #1410 "When deploying from Remix, automatically verify contract on Etherscan?"
# Feature request

When deploying from Remix, automatically verify contract on Etherscan.

# Rationale

1) We have code
2) We have compiler version
3) We have optimisations yes / no

**Some work from Etherscan guys will be needed.**

Question - is there a valid use case not to have source of the contract visible?

There are some decompilers out there, EVM bytecode is visible to everyone...

[2018-07-14 09:19] wuzhitian opened #1411 "Something Error when run `npm install` on Mac OS"
[code]

[2018-07-15 18:24] fulldecent opened #1412 "Checksum of contract address invalid"
After deploying a contract there is a deployed address. You can copy using the pasteboard icon.

That address should be validly checksummed.

[2018-07-16 05:54] aj07 commented on #1366
@gitcoinbot I have completed this task, but unable to submit this. Evertime, I am submitting the the work done its saying low fee.

[2018-07-16 07:08] jilangsanqian opened #1413 "Cannot find module 'remix-core'"
ubuntu@ubuntu-xenial:~/remix-ide$ npm start

[serve   ]
[serve   ] > remix-ide@0.6.4 serve /home/ubuntu/remix-ide
[serve   ] > execr --silent http-server .
[serve   ]
[onchange]
[onchange] > remix-ide@0.6.4 onchange /home/ubuntu/remix-ide
[onchange] > onchange build/app.js -- npm-run-all lint
[onchange]
[remixd  ]
[remixd  ] > remix-ide@0.6.4 remixd /home/ubuntu/remix-ide
[remixd  ] > ./node_modul

[2018-07-16 08:29] yann300 commented on #1391
fixed

[2018-07-16 08:29] #1391 closed

[2018-07-16 12:51] yann300 commented on #1413
we are in the process of cleaning the remix repository so you might experience some issue...
will it work with `npm run build && npm run serve` ?

[2018-07-18 14:18] ninabreznik opened #1417 "remix.execute()"
Terminal commands

remix.execute() takes the current file, but you can also say remix.execute('someotherfile') to execute another file

[2018-07-18 20:10] aboulsma opened #1418 "Problem installing Remix-IDE in local workstation"
Hi,
I am trying to install Remix-IDE in my local workstation, following the instructions in https://github.com/ethereum/remix-ide/blob/master/README.md

I have installed node v.8.11.3 and npm v5.6.0
When I try:
npm install remix-ide -g

I get :
23619 warn optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.4 (node_modules\remix-ide\node_modules\fsevents):
23620 warn notsup SKIPPING OPTIONAL DEPEND

[2018-07-18 22:02] cryptoserge commented on #1413
I experienced the same situation. I  tried `npm run build && npm run serve`, but it didn't work.
I am waiting for the process of cleaning the remix repository.

[2018-07-19 17:17] l3m0n opened #1419 "what's wrong?"
There is a big bug in the installation. I have repeated the installation for more than 10 times.

[code]

Why?

[code]

so Do I need to run this command？`npm run build`？
Who can tell me to install it correctly？Why not give a DockerFile？

[2018-07-19 17:19] l3m0n commented on #1419
i install in ubuntu and macos by git. but all is failed!
so i think readme is really useless....

[2018-07-20 06:50] vs77bb commented on #1366
@aj07 Paying this one out now. Apologies about the issues with network congestion, we're hoping to improve our UX for high-usage times as time passes.

[2018-07-21 06:15] raphaelhuefner commented on #1359
I'm waiting for PR #1415 to get reviewed and then hopefully, merged.

[2018-07-23 08:46] yann300 commented on #1419
please don't run `npm run setupremix` .
we are in the process of cleaning up the remix repo, so that will be fixed soon.

[2018-07-23 08:49] yann300 commented on #1408
fixed by https://github.com/ethereum/remix-ide/pull/1409

[2018-07-23 08:49] #1408 closed

[2018-07-23 09:00] sagarpomal commented on #975
It can be a cross-origin issue, try installing a chrome cross-origin plugin and then try again.

[2018-07-24 01:58] troowala opened #1422 "Verifying Remix published Source Code on etherscan"
I have verified several contracts on etherscan in the past without much issues but this time it is getting weird, makes me suspect there is some bug with etherscan in regards to contracts recently published with remix.

Contract address is
0xb3f5687d11ec10f04e00c42b4952f0352ae1762b

Contract Name is
BurnableCrowdsaleToken

Code for verification
https://gist.github.com/33c1382a617d2b3a906db1946ab4c

[2018-07-24 09:47] yann300 commented on #1422
i gave a try on rinkeby and that seems to work
https://rinkeby.etherscan.io/address/0xe9eca24adf0c8f925122f333867750ef7c8f4557#code
have you specified input parameters? what was the values?

[2018-07-24 10:57] whrool commented on #1422
@yann300 Thank you for your help. I do it on the mainnet . And below is my contract info.
Network：mainnet
My contract address：0x04dbd7049675d114b8aafb4fe812afc8d4908c84
Contract Name：OTCChain
Contract source：https://gist.github.com/whrool/e0fbdc4636272ce658b0fb3fb0764d36
Optimization：true
Parameters：000000000000000000000000000000000000000000000000000000174876e80000000000000000000000000000000000000

[2018-07-24 15:04] yann300 opened #1423 "Extension UX integration"
- Add a plugin tab, plugin started from there as panel in the tab but can be taken out of the tab as modal.
 - When Minimized / closed, just put the minimized to the plugin tab.
 - Ability to dock a plugin content.
 - Close is currently not in the style.
 - Dragging action sometimes doesn't work.
 - When minimized, go in a fixed place.

[2018-07-24 15:07] ninabreznik commented on #1423
Some UX for inspiration

![screenshot_2018-07-24_16-02-29](https://user-images.githubusercontent.com/1076427/43147727-97c97a72-8f5b-11e8-91a8-218765abd706.png)

[2018-07-24 19:18] ansermino opened #1424 "Transaction Input Copy To Clipboard"
In the tx details the raw input is listed such as `0xABC...12345`. When clicking on the `Copy value to clipboard` icon the value copied is exactly `0xABC...12345`. Presumably it should be the entire input value, otherwise this functionality seems somewhat useless.
![screenshot from 2018-07-24 15-16-56](https://user-images.githubusercontent.com/14164624/43161015-d2479a00-8f54-11e8-9e85-4d1f65f38868

[2018-07-24 19:40] ninabreznik commented on #1424
Hey, David. There is a PR ready with a fix. @Yann Levreau
<yann@ethereum.org> can you check if all is good and try to merge it?

On Tue, Jul 24, 2018 at 8:18 PM David Ansermino <notifications@github.com>
wrote:

--

Nina Breznik

*Vision baker at *FairyDust.agency

T: @ninabreznik
M: +1 510 747 84 39
G: gitter.im/ninabreznik

<http://www.zweidesign.co>

[2018-07-24 19:44] ansermino commented on #1424
Thanks! Evidently my searching was near sighted. #1409 has been merged

[2018-07-24 20:03] ninabreznik commented on #1424
Oh, so maybe it's working on remix-alpha for now until all the testing is
done.

On Tue, Jul 24, 2018 at 8:44 PM David Ansermino <notifications@github.com>
wrote:

--

Nina Breznik

*Vision baker at *FairyDust.agency

T: @ninabreznik
M: +1 510 747 84 39
G: gitter.im/ninabreznik

<http://www.zweidesign.co>

[2018-07-24 22:54] troowala commented on #1422
Hello yann300 , i just retried it on rinkeby and same issue. did you also publish the contract using the current online version of remix ?

parameters are
name : enhanced society
symbol : EST
supply : 0
decimals : 18
mintable : true

i also notice you have marked this as a bug , so are you now able to replicate this too ?

also i noticed the first 201 characters of compiled bytecode match when opt

[2018-07-25 08:29] #1424 closed

[2018-07-25 08:36] yann300 commented on #1422
I am not able to replicate unfortunately ... I will try with the same param.
what is the encoded value you put fr encoded param in etherscan?

[2018-07-25 09:43] troowala commented on #1422
00000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000000e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001200000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000010456e68616e636564

[2018-07-25 13:19] vs77bb commented on #1359
Thanks for the update @raphaelhuefner!

[2018-07-25 14:44] yann300 commented on #1417
this issue meant to add `remix.execute()` (same behavior as `remix.exeCurrent` and `remix.execute('<filepath>')` (execute the script targeted by the given path) .

[2018-07-25 18:14] oogetyboogety commented on #952
I will also use the docs here:
HD Wallet API
To use BIP32 HD wallets, first include the hdkey submodule:
var hdkey = require('ethereumjs-wallet/hdkey')
Constructors:
    fromMasterSeed(seed) - create an instance based on a seed
    fromExtendedKey(key) - create an instance based on a BIP32 extended private or public key
For the seed we suggest to use bip39 to create one from a BIP39 mnemonic.
Inst

[2018-07-25 23:01] NEO2756 commented on #1376
deployed using remix.
1. optimization is enbaled (checked)
2. compiler version 0.4.24+commit.e67f0147 (checked on both sides)
still Not verified. Pls help

TIA

[2018-07-26 03:49] ethernodeio commented on #1413
What happens is `npm run setupremix` removes the `remix-core/` and two other dirs from `./node-modules/ dirt. Clones the `remixe` repo into the root of `remix-ide` and sim

[code]

Solution: make a backup of ./node_modules/remix-core dir
Run npm run setupremix
Then copy the backed up `remix-core` dir back into `remix-ide/remix/`

[2018-07-26 07:34] jilangsanqian commented on #1413
@ethernodeio 这样也可以，后来我直接修改的package.json 文件 ，将linkremixcore改为cd node_modules && cp -r remix-core ../remix/remix-core && rm -rf remix-core && ln -s ../remix/remix-core remix-core && cd ..   问题就解决啦。
 thank you!!

[2018-07-26 07:36] jilangsanqian commented on #1413
@yann300 thanks for your help

[2018-07-26 07:36] #1413 closed

[2018-07-26 15:49] holgerd77 commented on #1282
[v2.4.0](https://github.com/ethereumjs/ethereumjs-vm/releases/tag/v2.4.0) release of the VM is now out. Let me know if you have questions on this or need any help! You can now instantiate the VM with the ``opts.hardfork`` parameter set to either ``byzantium`` or ``constantinople``.

[2018-07-26 18:10] raphaelhuefner commented on #1359
@gitcoinbot Yes, still working on it.

@ ryestew gave me some feedback on my PR in gitter, which I'm now incorporating.

[2018-07-28 01:37] Yammmy commented on #1411
upgraded to 9 still got this err below...
[code]

[2018-07-28 17:18] mbmone opened #1428 "Problem on installing remix-ide"
40465 error code ELIFECYCLE
40466 error errno 1
40467 error remix-solidity@0.1.11 postinstall: `npm-run-all -ls downloadsolc`
40467 error Exit status 1
40468 error Failed at the remix-solidity@0.1.11 postinstall script.
40468 error This is probably not a problem with npm. There is likely additional logging output above.
40469 verbose exit [ 1, true ]

[2018-07-30 17:07] vs77bb commented on #952
Hi @oogetyboogety how goes it here?

[2018-07-30 21:28] iurimatias commented on #1428
@mbmone do you get an error when installing scrypt? `npm -g install scrypt`? If so there are some development dependencies or tools missing in your environment. I need to know more information to help you. What OS are you using? and what node version?

[2018-07-30 22:49] jvmaia commented on #1360
Thanks guys! =)

[2018-07-31 03:04] oogetyboogety commented on #952
@vs77bb  I've gotten a good start! I think I have a working solution using ethereumjs-util and signing some static message, then testing the ecrecover in ethereumjs-util.

Sow now i'm creating a form in a tab and i'm wondering, once a user signs a message should it be a callback of some sort to the Transaction tab, or should it just print h, v, r, and s

[2018-07-31 11:35] creazy231 opened #1430 "[BUG] Contract A doesn't work anymore when I deploy contract B"
I recently had to deploy my second contract on the local Ganache Blockchain (Windows) using http://remix.ethereum.org/.

But every single time I deploy contract B after I deployed contract A, contract A doesn't work anymore. No returns - nothing.

I really need both of the contracts to communicate with them and between.

Anyone else had the same issue or knows how to solve the problem? Thanks

PS:

[2018-07-31 12:41] KiriKiri commented on #990
I used remix for about a week without closing it. I was compiling some smart contract when compiling process had stopped.  I reloaded the remix page in the browser and saw an error: Mock compiler : Source not found. List of compilers became empty. Adblock is removed from chrome. Same error in chrome, firefox and in the elector version of remix.

Pls help. Thanks!

[2018-07-31 12:54] legojesus commented on #990
Having the same issue here. Remix worked fine so far, suddenly it can't find any compiler versions.

[2018-07-31 12:55] microdesign commented on #990
Yea for me to just when I start to upload a contract for clients :(

[2018-07-31 13:05] le4ker commented on #1404
I have the same issue

[2018-07-31 13:09] microdesign commented on #990
The supporters just must return the fille "VM3287:1 GET https://solc-bin.ethereum.org/bin/list.json 0 ()" from where they remove it.

[2018-07-31 13:12] paulofelipe84 commented on #990
It looks like it's a general issue happening right now on Remix. A few minutes ago I was able to work normally and it just started showing that message. A friend of mine confirmed that the same happened to him. It might be related to some update at the server. Let's just wait a little bit and see if it gets fixed.

[2018-07-31 13:13] mikeacre commented on #990
I am having the same issue right now.

[2018-07-31 13:16] creazy231 commented on #990
Having the same issue here. Lets give them some time.

[2018-07-31 13:25] vsadh-jft commented on #990
I am also facing same issue. I think its an issue from their end.

[2018-07-31 13:32] userid2018 commented on #990
Same issue noticed by me.

[2018-07-31 13:39] Chainomics commented on #990
Same here.

[2018-07-31 13:44] mbmone commented on #1428
@iurimatias Thanks for your reply. I have work out my issues. I removed node.js and used nvm to install  node.js ,Then everything works fine.

[2018-07-31 13:53] iurimatias commented on #1428
@mbmone good to hear!

[2018-07-31 13:53] #1428 closed

[2018-07-31 14:00] JerzyLa commented on #990
Same issue

[2018-07-31 14:03] kcfkwok2003 commented on #990
Same issue

[2018-07-31 14:10] ryanrao commented on #990
Same issue

[2018-07-31 14:17] JerzyLa commented on #990
Workaround is to install remix locally and run.
npm install remix-ide -g
remix-id

[2018-07-31 14:18] hello2mao commented on #990
@microdesign yes，has the same problem.

[2018-07-31 14:30] pertsev commented on #990
Try [ethfiddle](https://ethfiddle.com/)

[2018-07-31 14:43] ogyar commented on #990
Any announcement when will it be back? Where is eth dev?

[2018-07-31 14:45] adwulfran commented on #990
Same problem

[2018-07-31 14:51] ntncodex commented on #990
gg remix ,when i want to learn something in my life you do this xD

[2018-07-31 14:51] sarvpriye commented on #990
Not working with the local as well:

seems: https://solc-bin.ethereum.org/bin/list.json is down

[2018-07-31 14:51] ntncodex commented on #990
https://www.npmjs.com/package/remix-ide try using the offline version temporarily guys..

[2018-07-31 14:52] Labyz commented on #990
Same as everyone

[2018-07-31 14:52] jatyr666 commented on #990
I have a similar issue whereas it was perfectly working yesterday :(

[2018-07-31 14:52] ntncodex commented on #990
must be a server side problem ,lets wait guys

[2018-07-31 14:57] yarcowang commented on #990
Just happened... (when I sit outside and back home, using the same opened window) might be the problem?

[2018-07-31 14:59] GabriFedi commented on #990
It happens also on remix opened by Mist

[2018-07-31 15:00] Gershon-A commented on #990
Confirm - the same

[2018-07-31 15:04] DroZeN3 commented on #990
I had this issue earlier this month. After 2 days remix started to work again, none of the fixes that were recommended worked for me

[2018-07-31 15:09] pertsev commented on #990
My dirty workaround:
1) install remix locally `npm install remix-ide -g`
2) clone [solc-bin](https://github.com/ethereum/solc-bin) to `remix-ide` folder (you may find it by `which remix-ide`)
3) change `baseurl: 'https://solc-bin.ethereum.org/bin'` to `baseurl: 'solc-bin/bin'` at `build/app.js`

Works :)

[2018-07-31 15:12] tarekskr commented on #990
Same problem here

[2018-07-31 15:40] microdesign commented on #990
I already write to Ethereum twitter account.

[2018-07-31 15:54] magonicolas commented on #990
Im having the same problem, really need to use it right now, hope they solve it soon.

[2018-07-31 15:59] nickvamvou commented on #990
same

[2018-07-31 16:26] iurimatias commented on #990
We apologize for any inconvenience. There is a DNS issue and we are fixing it. Remix should be back up soon. I'll update here when it is.

[2018-07-31 16:40] ninabreznik commented on #990
And we're back!

On Tue, Jul 31, 2018 at 5:26 PM Iuri Matias <notifications@github.com>
wrote:

--

Nina Breznik

*Vision baker at *FairyDust.agency

T: @ninabreznik
M: +1 510 747 84 39
G: gitter.im/ninabreznik

<http://www.zweidesign.co>

[2018-08-01 03:07] troowala commented on #1422
Hello , any update on this issue ? This is consistently happening with remix.ethereum.org contracts and i can recreate this for you if you like via screen share. Infact you could simply deploy the MyAdvancedToken contract from ethereums website and try and verify it on ropsten and you will see the contract will not verify if optimization is selected.

Can you please confirm what non-exposed compil

[2018-08-01 04:05] fishballLin opened #1431 "Weird account balance"
Hi,
I found that the account balance is weird after deploying any contract with the account exceeding fifth.

### How to reproduce the bug?

1. Create a new account
![image](https://user-images.githubusercontent.com/11352791/43499852-23e838de-9580-11e8-9cd0-41f34c57619e.png)

2. The sixth account had been created
![image](https://user-images.githubusercontent.com/11352791/43500200-f611653c-9581-11

[2018-08-01 04:17] fishballLin opened #1432 "Invalid account selected"
Hi,
I got a message "errored: Invalid account selected " after deploying or calling any function with the account exceeding fifth.

### How to reproduce the bug?

1. Create a new account
![image](https://user-images.githubusercontent.com/11352791/43500594-f6f3d85c-9583-11e8-9c76-7769cbf28135.png)

2. Use the sixth account to deploy any contract( using BasicToken for demo)
![image](https://user-ima

[2018-08-01 08:27] yann300 commented on #1411
we are going to push an update pretty soon

[2018-08-01 08:43] yann300 commented on #1422
@troowala could you post or PM me the address of the contract you are trying to verify?

[2018-08-01 08:50] yann300 opened #1433 "invalid address . if you use an injected provider, please check it is properly unlocked"
Remix should poll web3.eth.accounts in order to check whether accounts are being added/removed to the list.

[2018-08-01 08:56] yann300 commented on #1430
`testCoin.balanceOf` ? would it be possible to post the code of testCoin also?

[2018-08-01 09:22] GoddessLuBoYan opened #1434 "I cannot choose the compiler version. The Worse, I cannot compile my codes."
I can't click the "select new compiler version". When I click it, nothing happens.
![rtx](https://user-images.githubusercontent.com/38455509/43512974-1e68336c-95af-11e8-99d4-9d16c920e0cb.png)

So, when I want to compile my codes, it will never stop.
![default](https://user-images.githubusercontent.com/38455509/43513091-6c80f110-95af-11e8-909a-6faeba602331.PNG)

[2018-08-01 09:37] ZainaliSyed commented on #990
@GrandVizierOlaf  Solution Works for me [Remix-ID old version](https://ethereum.github.io/browser-solidity)

[2018-08-01 10:01] creazy231 commented on #1430
@yann300 updated my example code. Just have these two files open in remix and deploy them one by one. After I deployed the second contract, I cant access anything of the first one.

[2018-08-01 10:06] creazy231 commented on #1430
also noticed, that the developer console in chrome says `Uncaught TypeError: Cannot read property 'status' of null`

[2018-08-01 11:27] GoddessLuBoYan commented on #1434
I have done. I must not use chrome. Now I use firefox, and everything is ok.

[2018-08-01 11:27] #1434 closed

[2018-08-01 14:49] bitcoin4cashqc opened #1435 "SecurityError: The operation is insecure."
Is this related to my Firefox or on the remix editor? :(

`SecurityError: The operation is insecure.
start
https://remix.ethereum.org/build/app.js:238497:21
ensureSocket
https://remix.ethereum.org/build/app.js:238576:7
call
https://remix.ethereum.org/build/app.js:238559:7
exists
https://remix.ethereum.org/build/app.js:232356:7
importFileCb
https://remix.ethereum.org/build/app.js:226008:7
[1330]</r

[2018-08-02 10:55] guyunzhe opened #1438 "Error: EACCES: permission denied"
Hello team, I'm a green hand for both linux. I was trying to install Remix IDE environment in my local "Windows Subsystem for Linux".

node version:
v8.11.3
npm version:
5.6.0

I opened the SUSE Linux Enterprise Server environment as administrator and logged in as root.
git clone https://github.com/ethereum/remix-ide.git
cd remix-ide

While I ran the command "npm install", an error occurred:
npm E

[2018-08-02 15:24] ajsantander opened #1440 "Are optimizations working?"
I've observed that EVM output often contains sequences of ISZERO opcodes with more than 2 elements. For example, in the EVM opcode structure that returns a boolean value:

[code]

This output was obtained with the Enable Optimizations combobox on in Settings.

As far as I can tell, Solidity's CommonSubexpressionEliminator optimizer should take care of this, reducing the four ISZERO sequence to jus

[2018-08-02 15:47] yann300 commented on #1422
I could verify it against solidity 0.4.24 and remix 0.6.4 (optimisation enable)
https://rinkeby.etherscan.io/address/0x66d3675f703a8292d629b1ca93270084d932401f#code

Are you using The API 1.0 or API 2.0 for verifying the contract on etherscan?

[2018-08-02 15:55] chriseth commented on #1440
If the metadata contain the flag, then the optimizer is running. This might be an issue with caching the compilation result, though.

[2018-08-02 17:09] ajsantander commented on #1440
To try to circumvent caching, I created a new contract:
[code]
(Optimizations were enabled before the creation)

Then deployed it and see that the ISZERO quad is still there.

[2018-08-03 01:42] troowala commented on #1422
i have tried both API versions on etherscan. See attached screenshot with v2 of the API as well.

I'm also selecting v0.4.24+commit.e67f0147 compiler and the version of remix im using is the one running on remix.ethereum.org

![screenshot from 2018-08-03 11-40-21](https://user-images.githubusercontent.com/9698107/43619596-0e9050a0-9712-11e8-9a21-98b577a14dd2.png)

[2018-08-03 13:52] yarcowang opened #1441 "[BUG] It seems like always trying connect to localhost..."
It is OK after clear whole site cache storage. It restores to the original state when visit: `remix.ethereum.org`.

But if you add:
`import "https://raw.githubusercontent.com/ethereum/dapp-bin/master/library/features.sol";`
in `.sol` file and try to compile, remix seems to try connecting to localhost... And then, you'll never go back except clear all cached storage.

[2018-08-04 00:13] ajsantander opened #1442 "Remix crashes when debugging a call to this function"
[code]

Passed in params `[1, 2, 3]`. Then clicked debug on the transaction. 1 or 2 steps into and Remix stops responding.

Chromium console displays "paused before potential out of memory crash" at L21983 of app.js
` BN.prototype._initNumber = function _initNumber (number, base, endian) {...`

[2018-08-06 03:05] troowala commented on #1422
@whrool Im aware of alternate ways to publish and verify the contracts so thanks but have you tried with the option enable optimization for contracts published using remix.ethereum.org ?  that is the method that is not working and has a bug that im raising.  and any workaround you suggest is only or contracts going forward in the future but if a contract has been published with remix.ethereum.org

[2018-08-06 03:33] NEO2756 commented on #1376
I managed to solve the problem via using flat file. If you have multiple *.sol files , use any flattner to make a single flat file. Compile this flat file and deploy it rather than multiple files. Use the same file as source file at etherscan.io. Hope this helps.

[2018-08-06 03:54] troowala commented on #1376
yep already using a flattened file that is not the issue in my case .... im pretty certain this issue happens with flattened files too if one were using enable optimization selected in remix during publishing the contract and then tried to verify, that is the crux of the issue here.

[2018-08-06 06:59] yann300 opened #1443 "make ethers.js object available from the remix console"

[2018-08-06 07:16] yann300 commented on #1422
I am confused cause i was able to deploy it on Rinkeby:
could you record a screencast please? that ill help to figure out what can be the issue..

![screenshot from 2018-08-06 09 11 19](https://user-images.githubusercontent.com/6940742/43702140-07305456-9959-11e8-9a32-66fd290ffa6e.png)

[2018-08-06 07:27] yann300 commented on #1422
@whrool what are the decoded input parameters you've set for your contract?

[2018-08-06 07:38] yann300 commented on #1441
how do you see that? by default, when remix is loaded, it connect to the injected provider if there is one. there is an option in the settings to force javascript VM by default

[2018-08-06 07:39] yann300 commented on #1435
which file were you trying to import?

[2018-08-06 07:40] yann300 commented on #1438
tying upgrading npm and node... and perhaps check permission given to the current account also

[2018-08-06 07:56] yann300 commented on #1431
fixes https://github.com/ethereum/remix-ide/pull/1444

[2018-08-06 12:31] yann300 commented on #1430
fix https://github.com/ethereum/remix-ide/pull/1445

[2018-08-06 12:32] #1280 closed

[2018-08-06 14:49] chriseth commented on #1440
@ajsantander sorry, I cannot reproduce that. Could you tell a bit more about your environment?

[2018-08-06 19:06] vs77bb commented on #952
Hi @yann300 do you have any feedback on @oogetyboogety's approach above? Thanks for your update!

[2018-08-06 22:54] troowala commented on #1422
![screenshot from 2018-08-03 11-40-21](https://user-images.githubusercontent.com/9698107/43744870-70d223a0-9a1f-11e8-86a5-0a4ff1e15f87.png)

[2018-08-07 07:10] yann300 commented on #952
@oogetyboogety
i think printing the encoded message data is enough (no need to send transaction at this point).
also instead of having a new tab, can this be included in the Run tab? like adding a new action here

![remix](https://user-images.githubusercontent.com/6940742/43760182-a3136642-9a21-11e8-80aa-5e7f3bc370cb.png)

would popup a modal dialog with everything to input a message , code it, an

[2018-08-07 07:12] yann300 commented on #1422
@troowala I mean a little video,
btw which browser are you on?

[2018-08-07 07:15] yann300 commented on #1417
@evgeniuz thanks for handling this ;)
here is the part that need to be modified
https://github.com/ethereum/remix-ide/blob/master/src/lib/cmdInterpreterAPI.js#L72

[2018-08-07 08:00] #1443 closed

[2018-08-08 06:42] #701 closed

[2018-08-08 10:28] creazy231 opened #1450 "[BUG] "out of gas" but using MetaMask everything works"
I recently noticed, that there is a small bug calculating the gas price. When I run a simple function for example:
[code]
it returns the following error in console:
`VM Exception while processing transaction: out of gas `

but if I run the same function using MetaMask's web3 on my own backend, it calculates a gas price of `61117` and the function success.

[2018-08-08 21:06] oogetyboogety commented on #952
@yann300 Sure, thanks for the clarification. This should make it pretty to easy to complete this one in the next couple days.
@vs77bb thanks for your help, could you snooze the alerts for the rest of the week?

[2018-08-09 07:56] whrool commented on #1422
#### Firstly, I generate the bytecode of my source code  on the etherscan.io. Here i choose whatever a contract. As follows:
![image](https://user-images.githubusercontent.com/7413974/43713003-b2ef69c0-99aa-11e8-8766-97d352bbfd74.png)
#### Secondly, Use our source code to generate bytecode.
![image](https://user-images.githubusercontent.com/7413974/43713563-991d9362-99ac-11e8-8a62-429d2e2a39af.png

[2018-08-10 01:27] troowala commented on #1422
okay so this essentially means i have to publish a second identical contract on the mainnet and not use remix but a JS or python script instead ?

and will this only verify the newly published contract or also the previously published original one as etherscan will automatically pick up the first contracts source code as they have identical bytecode  ?

thanks

[2018-08-10 08:49] Mike2017go opened #1455 "How to fix the error log as the following"
Error: Error: Command failed: ./configure
./configure: line 1904: config.log: Permission denied
./configure: line 1914: config.log: Permission denied

/root/.nvm/versions/node/v9.11.2/bin/remix-ide -> /root/.nvm/versions/node/v9.11.2/lib/node_modules/remix-ide/bin/remix-ide

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp W

[2018-08-10 09:13] yann300 commented on #1422
@whrool @troowala  that would work yes although that's a lot of manual action. I still would like to be able to reproduce cause. I could deploy deploy from remix and verify (rinkeby and mainet)..
@whrool could you send the decoded input parameter you use?
@troowala are you in chrome? could you record a little screencast please?

[2018-08-11 02:52] Mike2017go commented on #1455
no reply?

[2018-08-11 09:54] yarcowang commented on #1441
![remix_-_solidity_ide](https://user-images.githubusercontent.com/1576504/43990566-71c3f680-9d8f-11e8-9c0d-6f05cfec3eaf.png)
![remix_-_solidity_ide](https://user-images.githubusercontent.com/1576504/43990576-82a2b310-9d8f-11e8-913f-99f5a57863f3.png)
![remix_-_solidity_ide](https://user-images.githubusercontent.com/1576504/43990582-97889da8-9d8f-11e8-8236-ac4f431f96fd.png)

[2018-08-12 10:59] fishmc commented on #1388
我也有这种情况

[2018-08-13 00:42] troowala commented on #1422
please see attached recording , it shows a simple contract such as greeter.sol not verifying when enable optimization is selected.

https://drive.google.com/file/d/1YiFcuKcOpWQR2OnHXGBzNUhIPhDgjyZo/view

it says that contract seems to be compiled with no optimization even when the video clearly shows enable optimization was selected.

and when trying to reverify with no optimization in etherscan ,

[2018-08-13 02:39] Mike2017go commented on #1455
update the verison,

I install it with the node -v v9.11.2 npm -v 5.6.0

[2018-08-13 03:47] whrool commented on #1422
@yann300 This my contract address 0x216CbfD5Bd8e3f3bBc83c9a62243DA5306B2aC16

[2018-08-13 07:31] yann300 commented on #1441
Remix does not support `raw.githubusercontent.com` like url. Please replace it by the classic url (without `blob/master`.
I put this issue as bug so we can take care of it soon

[2018-08-13 07:57] yann300 commented on #1422
@troowala could you send the greeter code please? I tried with another version and i could verify it without any problem. also are you sure that solidity 0.4.24 is selected in the settings tab?

[2018-08-13 08:13] yann300 commented on #1422
@whrool
you sent details:
[code]
but OTCChain is not there, is it IIIBTCToken?

[2018-08-13 08:17] yann300 commented on #1450
would you be able to pm the contract code please? would be easier to reproduce

[2018-08-13 08:26] yann300 commented on #1422
could you post or pm the code and input params of this contract?

[2018-08-13 08:28] whrool commented on #1422
The code(no input params) :
[code]

[2018-08-13 08:44] yann300 commented on #1422
i could deploy / verify it on ropsten and mainnet too...
https://ropsten.etherscan.io/verifyContract?a=0x66d3675f703a8292d629b1ca93270084d932401f
https://etherscan.io/address/0xe42e73c2c705ab07e134433092bb4ac28aeae635#code
please check if the selected version of solidity is 0.4.24

[2018-08-13 08:50] whrool commented on #1422
Thank you. I will have a try myself. Hope it is my mistake.

[2018-08-13 09:41] yann300 commented on #1441
fix https://github.com/ethereum/remix-ide/pull/1456

[2018-08-13 18:19] yann300 opened #1457 "Warn user at deploy time if contract size above https://github.com/ethereum/EIPs/issues/170"

[2018-08-13 18:25] yann300 commented on #1457
by displaying an alert saying the size is above https://github.com/ethereum/EIPs/issues/170 and that the deployment will likely fails.
this alert should give the option to cancel or to force sending by using this component https://github.com/ethereum/remix-ide/blob/master/src/universal-dapp.js#L412

[2018-08-14 02:20] Mike2017go opened #1458 "Error when npm start"
[watch   ]
[watch   ] > remix-ide@0.6.4 watch /home/remix-ide
[watch   ] > watchify src/index.js -dv -p browserify-reload -o build/app.js
[watch   ]
[onchange]
[onchange] > remix-ide@0.6.4 onchange /home/remix-ide
[onchange] > onchange build/app.js -- npm-run-all lint
[onchange]
[serve   ]
[serve   ] > remix-ide@0.6.4 serve /home/remix-ide
[serve   ] > execr --silent http-server .
[serve   ]
[remi

[2018-08-14 08:18] yann300 commented on #1457
@bakaoh I think the change should be done there https://github.com/ethereum/remix-ide/blob/master/src/app/tabs/run-tab.js#L424

Actually I think we should check against the `runtimeByteCode` (should be available in `selectedContract.contract`) cause this is the one which is then stored.
FYI here how it is implemented in the ethereumjs-vm https://github.com/ethereumjs/ethereumjs-vm/blob/f389fe7cdd1

[2018-08-14 09:36] #1417 closed

[2018-08-14 16:24] yangbinnnn opened #1460 "Overloading function call is not working"
My contract like this, overloading function `foo(uint256 n)` is not working(no value return). If the contract just hava `foo(uint256 n)`, it works.

[code]

[2018-08-15 03:15] bakaoh commented on #1457
@yann300 -- Thanks for pointing that out to me. ​I didn't read carefully.

[2018-08-15 04:15] yangbinnnn opened #1462 "Terminal command autocomplete supported"
Any plan for this?

[2018-08-15 09:00] yann300 opened #1463 "Test RPC returns `1` for the status instead of `0x1`. The console should be compliant with this return type"

[2018-08-15 09:43] yann300 commented on #1460
That issue is fixed by https://github.com/ethereum/remix/pull/864
This is going to be shipped with Remix 0.7.

[2018-08-15 09:45] yann300 commented on #1458
look like remixd is already started. could you check that?
if you just want to use remix ide locally,
please take a look at https://github.com/ethereum/remix-ide/releases

[2018-08-16 18:35] MaazAhmedZ commented on #975
I need help, cant install npm install -g ethereumjs-testrpc ..... how can i fix this? i have ganache. i'm very new to this, please help!
npm install -g ethereumjs-testrpc
npm WARN deprecated ethereumjs-testrpc@6.0.3: ethereumjs-testrpc has been renamed to ganache-cli, please use this package from now on.
npm WARN checkPermissions Missing write access to /usr/local/lib/node_modules
npm ERR! path /u

[2018-08-17 06:29] kggp1995 commented on #975
I recommend to use ganache-cli.
However, if need be to use testrpc, prefix  that command with sudo. That
may do it.

On Fri, 17 Aug 2018 at 12:05 AM, MaazAhmedZ <notifications@github.com>
wrote:

[2018-08-17 09:27] MaazAhmedZ commented on #975
and I can connect to remix, environment web3 provider . this show up
Not possible to connect to the Web3 provider. Make sure the provider is running and a connection is open (via IPC or RPC).
please help
I have ganache with 10 accounts, nodejs, metamask and atom. what am I doing worng? should i uninstall everything? and re-do it ?

[2018-08-17 09:30] yann300 commented on #975
is ganache running when you try to connect? does it display the rpc port?

[2018-08-17 12:18] MaazAhmedZ commented on #975
yes its running and the rpc server HTTP://127.0.0.1:7545

[2018-08-19 18:04] evgeniuz commented on #1417
@vs77bb, can you please accept work, as the issue is closed now.

[2018-08-20 02:10] #1419 closed

[2018-08-20 04:05] aj07 commented on #1462
I would like to take this..

[2018-08-22 13:27] yann300 commented on #1368
@ninabreznik could this be closed?

[2018-08-22 13:29] yann300 opened #1469 "Support tab UI Improvement"
Support tab

run remix locally (does this belong to Remix or would we rather have this kind of info in the documentation?) Maybe we should make a text above the chat, where we link to documentation, more visible and a bit bigger. I think it would be better to have all the info that is not part of the app in one place and this is documentation.
accessing local files (same as above and/OR where it b

[2018-08-22 13:30] yann300 opened #1470 "Settings tab UI Improvement"
- styling in plugin box is broken. Buttons behave strange and text is not align in the center (is it using style guide styling we use for buttons?)

[2018-08-22 13:30] yann300 commented on #1227
comment from @ninabreznik from another thread:

r.

[2018-08-22 14:52] louisliu2048 opened #1471 "right side UI disappear"
I install the latest remix-ide accrod to the instruction [https://github.com/ethereum/remix-ide#installation](url), when I ran the last step: npm start and open the localhost:8080, something strange happend, the right side ui gone! I have try the process many times, use different version of node and npm, but the result is the same.

[2018-08-23 02:06] troowala commented on #1422
@yann300 have you seen the videos and what is your teams comments on it ? it clearly shows the issue. Can you please advise one way or other on this ?

Thanks

[2018-08-23 05:00] oogetyboogety commented on #952
@yann300 I ended up creating a new pull request based on your review. I was having issues with the old repository and some outdated dependencies or something...so i just forked it again and created a new pull request.

[2018-08-23 10:27] yann300 commented on #952
thanks for that one @oogetyboogety . looking forward to your next bounty  ;)

[2018-08-23 10:27] #952 closed

[2018-08-23 10:32] yann300 commented on #1471
Could you retry now please? we made some modification on remix-ide and remix repo recently, that could have lead to your issue...

[2018-08-23 10:33] #1441 closed

[2018-08-23 10:35] yann300 commented on #1433
was being fixed by https://github.com/ethereum/remix-ide/pull/1449

[2018-08-23 10:35] #1433 closed

[2018-08-23 10:37] yann300 commented on #1432
#1449 should have fixed it. could you retry please (this is deployed in remix-alpha.ethereum.org)

[2018-08-23 10:37] #1432 closed

[2018-08-23 10:38] yann300 commented on #1430
@creazy231 could you double check please? fix is deployed in remix-alpha.ethereum.org

[2018-08-23 10:38] #1430 closed

[2018-08-23 10:39] yann300 commented on #1412
@ryestew would you be able to handle this please?

[2018-08-23 10:39] yann300 commented on #1411
that is fixed now. could you pull and retry please?

[2018-08-23 10:39] #1411 closed

[2018-08-23 10:41] yann300 commented on #1399
@ansermino feel free to take issue you feel like to handle ;)
the sync is done now .
@iurimatias

[2018-08-23 10:41] #1399 closed

[2018-08-23 10:42] yann300 commented on #1371
we've added an alert that should warn you if the deployment fails with eip-170

[2018-08-23 10:42] #1371 closed

[2018-08-23 10:44] yann300 commented on #1359
@ryestew @raphaelhuefner are you good to close this one? or is there a remaining PR?

[2018-08-23 10:46] yann300 commented on #1352
yeah gas limit here is the max amount of gas... there should be a different semantic here

[2018-08-23 10:47] yann300 commented on #1348
A should have a reference of B. is it the case?
please go to https://gitter.im/ethereum/remix for asking support

[2018-08-23 10:47] #1348 closed

[2018-08-23 10:51] yann300 commented on #1331
can't reproduce .... do you still have this issue?
closing it, please reopen if necessary

[2018-08-23 10:51] #1331 closed

[2018-08-23 10:55] yann300 commented on #1388
That is fixed by now (added `--exclude solc` in the browserify script.

[2018-08-23 10:55] #1388 closed

[2018-08-23 10:55] yann300 commented on #1380
That is fixed by now (added `--exclude solc` in the browserify script.

[2018-08-23 10:55] #1380 closed

[2018-08-23 10:56] yann300 commented on #1259
done

[2018-08-23 10:56] #1259 closed

[2018-08-23 10:58] yann300 commented on #1147
fixed

[2018-08-23 10:58] #1147 closed

[2018-08-23 11:52] louisliu2048 commented on #1471
the latest version seems has some other bugs:

npm ERR! missing script: linkremixcore
npm ERR!
npm ERR! Did you mean this?
npm ERR!     linkremixlib

npm ERR! A complete log of this run can be found in:
npm ERR!     /root/.npm/_logs/2018-08-23T11_49_38_185Z-debug.log
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! remix-ide@0.7.0 setupremix: `npm run pullremix && npm run linkremixcore && npm ru

[2018-08-23 12:10] yann300 commented on #1471
yep sorry for that. I just pushed a fix.
by the way you don't need to execute `setupremix` if you just want to run remix without contributong on developement

[2018-08-23 12:10] yann300 commented on #1471
also https://github.com/ethereum/remix-ide/releases/tag/v0.6.4 includes some ways to runu remix locally

[2018-08-23 13:07] hello2mao opened #1478 "creation of xxx errored: Cannot read property 'autoDeployLib' of undefined"
When using Web3 Provider,  deploy contract will fail with error: Cannot read property 'autoDeployLib' of undefined.

[2018-08-23 13:54] yann300 commented on #1478
thanks for the PR

[2018-08-23 13:55] #1478 closed

[2018-08-23 14:59] yann300 commented on #952
message signing is already in remix-alpha.ethereum.org and should be deployed to remix.ethereum.org soon.
please join https://gitter.im/ethereum/remix-dev and say hello if you like to take over some other things

[2018-08-23 15:03] louisliu2048 commented on #1471
everything is ok now.  Besides, seems that the instructions need to add `npm run build && npm run serve`, for it will still report "Error: ENOENT: no such file or directory, open 'build/app.js'" before I ran the instruct.

[2018-08-23 15:04] #1471 closed

[2018-08-23 18:01] 0mkara opened #1480 "`import "filename.sol"` is treated as url import"
[code]
Error message: `url not parseablestrings.sol`

[code]
Error message: `Unable to import "browser/no_filename.sol": File not found`

`import "filename.sol";` statement is being treated as `import "<url>";` statement.

Also `url not parseablestrings.sol` should have a space in `parseablestrings`.

[2018-08-23 21:05] raphaelhuefner opened #1481 "Create custom ACE themes"
Follow-up to https://github.com/ethereum/remix-ide/issues/1359 and https://github.com/ethereum/remix-ide/pull/1415 , as discussed with @ryestew :

- one custom light ACE theme based on `node_modules/brace/theme/textmate.js`
- one custom dark ACE theme based on `node_modules/brace/theme/tomorrow_night_blue.js`
- inject colors from `src/app/ui/styles-guide/style-guide.js` or `src/app/ui/styles-guide

[2018-08-23 21:11] raphaelhuefner commented on #1359
@yann300 Yes, this one can be closed.

There is some follow-up work which is related, but it's own functionality, so @ryestew allowed me to keep it in [a separate issue](https://github.com/ethereum/remix-ide/issues/1481).

[2018-08-24 07:01] #1359 closed

[2018-08-24 08:10] yann300 commented on #1462
@aj07 will put a bounty on it

[2018-08-24 10:09] Graisvendir opened #1483 "return array is very expensive"
If i deploy this contract and call function `test()` browser will eat much RAM. Without `return` everything all right. Why?
[code]

[2018-08-24 10:39] yann300 commented on #1462
@aj07
here is a succinct proposition for integration (subject to change)
 - should propose completion as dropdownlist
 - `tab` to complete
 - first step would be to support remix.* https://github.com/ethereum/remix-ide/blob/master/src/lib/cmdInterpreterAPI.js#L31
 - then support injected library like ethers.js, swarmgw, web3 and child object (perhaps by analying the prototype)

[2018-08-24 10:41] yann300 commented on #1462
any advice on this ? @serapath

[2018-08-24 15:14] kot-begemot commented on #1376
Same issue here. I compiled flattened contract on Remix and then deployed it to blockchain. Now I can not verify it. Used same parameters as when I was compiling it.

I checked the source code comparison: they indeed looks different

https://etherscan.io/verifyContract2

Any thoughts are appreciated

[2018-08-24 18:57] vs77bb commented on #952
Thanks @oogetyboogety! Great work here and I'm excited for continued growth for all in open-source world 🙂

[2018-08-24 18:58] vs77bb commented on #1462
@aj07 Are you planning on working this one? I'll prioritize you in the application list because you spoke with @yann300 prior, but let us know if you're unable to start for any reason 🙂

[2018-08-24 19:16] aj07 commented on #1462
@vs77bb  Yes, I want to work on this. Please, prioritize it.

[2018-08-26 21:00] raphaelhuefner commented on #1481
Copied from gitter:

ryestew:

It seems that since the merge the `type` is no longer highlighted.  Do you know if other things are not highlighted as they were?  Is this something that get fixed in the next PR?  Or would it be possible to make an update the returns this highlighting - to what it was before?   Let me know what you think.

raphaelhuefner:

If I understand correctly what is meant by

[2018-08-27 13:50] bartleyg opened #1484 "Feature: Show current block number in the UI"
It would be nice to have the current block number present in the UI somewhere. Currently in the Javascript VM the only way to determine the block number is to write a solidity contract and function to return the block number and see it's output.

[2018-08-27 21:28] ryestew commented on #1481
Hi Raphael - I have a couple of questions - its sort of prosiac but - the color of a word like bool changed from a a pale green to the blue that it currently is in remix-alpha.ethereum.org ( the old version is remix.ethereum.org)  So we can tune the colors of the span in the next PR - but in the mean time, the code is a bit harder to read because it lacks the differentiation that it had.

Do you h

[2018-08-27 21:42] ryestew commented on #1368
1. The transact button in the expanded view of a function still needs the rounded corners.
2. The issue "At Address and Deploy should be turned the same (first button, then input, or vice versa)" still needs to be addressed.  But everything else I believe has been addressed.  I'll confer with @ninabreznik about the second.  I'll make a PR for updating the rounded edges.

[2018-08-27 22:29] raphaelhuefner commented on #1481
Hi @ryestew,

Looks like I should tackle the "re-using of old colors with new tokenizations" first, before matching colors between style guide and ACE theme.

I think I can get to that this week, I hope it can be merged before the coming weekend.

[2018-08-28 07:42] creazy231 commented on #1430
@yann300 I can confirm that its working on remix-alpha.ethereum.org
could you tell me any ETA when this fix will be pushed to remix.ethereum.org? Thanks

[2018-08-28 08:26] yann300 commented on #1368
thanks for the update @ryestew

[2018-08-28 08:27] yann300 commented on #1430
should have been pushed today... but probably postpone to the week after 7th september

[2018-08-28 13:35] ryestew commented on #1481
Hi @raphaelhuefner - great - thanks so much!

[2018-08-28 14:32] #1227 closed

[2018-08-30 09:04] hello2mao opened #1486 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed"
I met below oom：
[code]

[2018-08-30 16:42] nikita-fuchs opened #1488 "Browser out of control when many accounts in node"
Reproduction:

1. start ganache with >=100 accounts

2. point environment settings in Remix to ganache

3. Click dropdown with accounts

[2018-08-30 18:03] aj07 commented on #1462
Will submit my pr in 2 days..

[2018-09-05 16:59] aj07 commented on #1462
@gitcoinbot I would like to pass on it, I am joining EthBerlin.

[2018-09-06 04:11] kay07 opened #1490 "same codes but different results"
i have the same codes,but i got different results in remix and nodejs,has anyone ever encountered this problem?

[2018-09-07 16:32] yann300 commented on #1488
i believe that situation is fixed in remix-alpha.ethereum.org . gonna be deployed soon

[2018-09-07 16:34] yann300 commented on #1490
would you be able to give a bit more detail and give some code example.

[2018-09-07 16:35] yann300 opened #1493 "VM: display out of gas"
When JavaScript VM is selected, `out of gas` error is not displayed

[2018-09-08 16:17] raphaelhuefner commented on #1481
@gitcoinbot Yes, I'm still working on this, sorting out *all the colors* ;-)

[2018-09-09 10:11] dexterchan opened #1498 "How to switch port?"
By default, port is 8080. I would like to switch to 8888 to avoid conflict.
When running
npm start --frontend 8888,

the application gave error:

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! remix-ide@0.6.4 start: `npm-run-all -lpr serve watch onchange remixd "8888"`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the remix-ide@0.6.4 start script.
npm ERR! This is probably not a problem w

[2018-09-09 10:13] dexterchan commented on #1498
If anyone help, I am considering to help packing the ide into docker.... such that, people does not need to install....
Up to now, my MACOS High Serria failed in the installation. I can only manage to host the app on ubuntu 16.4 on Google GCP.

[2018-09-09 11:03] dexterchan commented on #1498
I try to branch out and contribute my docker file.... anyone would grant access?

[2018-09-09 22:16] nourharidy opened #1499 "remix.ethereum.org is down for more than a week"
http://www.isitdownrightnow.com/remix.ethereum.org.html

[2018-09-10 04:15] ndtuan89 commented on #1499
Same with me.

[2018-09-10 05:45] kfichter commented on #1499
I managed to temporarily fix this issue by switching to Cloudflare DNS (1.1.1.1).

[2018-09-10 06:55] ndtuan89 commented on #1499
1.1.1.1 is working for me. Thank you @kfichter .

[2018-09-10 07:08] kay07 commented on #1490
`Contract a
pragma solidity ^0.4.24;

contract a {

    function getmsgsender()public view returns(address){

        address a=msg.sender;

        return a;

    }
}`
`Contract b
pragma solidity ^0.4.24;

contract ERC721Interface {

    function getmsgsender() public view returns (address);

}

contract b {

    ERC721Interface public nonFungibleRegistry;

    constructor(address _nonFungibleReg

[2018-09-10 08:07] yann300 commented on #1498
please look at https://github.com/ethereum/remix-ide/releases/tag/v0.6.4
but happy to update or add another one.

could you fork and you create a PR?

[2018-09-10 08:07] yann300 commented on #1498
thanks for your help btw ;)

[2018-09-10 09:31] yann300 opened #1500 "slither plugin integration"
github.com/trailofbits/slither integration

( https://github.com/trailofbits/remix-plugin-8000 )

[2018-09-10 09:37] yann300 commented on #1500
A first integration has already been done.
Here are some proposals for the next steps:
 - add some styling
 - fix the input
 - implement `manticore`
 - ...

[2018-09-10 10:36] maxsam4 commented on #1499
And it's down for me as well. Cloudflare DNS(was my default) isn't working anymore.

[2018-09-10 13:18] yann300 opened #1501 "Adding content to the documentation"
It might be interesting to add these articles in our documentation.
As a way for new users to get to learn solidity

https://blog.zeppelin.solutions/deconstructing-a-solidity-contract-part-i-introduction-832efd2d7737

[2018-09-10 13:28] yann300 opened #1502 "Solidity NewsFeed Plugin"
This is a vague proposition so please feel free to update and comment.

It happens frequently that somebody post in reddit, twitter or whatever a new coding pattern for Solidity.
This plugin would act as an aggregator of resources around solidity best practices and coding.

This plugin would also allow to easily export the code of a resource which can be instantly usable.

(please update the title

[2018-09-10 14:30] yann300 opened #1504 "AWS geth node plugin"
A plugin to spawn and manage a aws geth node.

[2018-09-11 09:15] smalaichami commented on #1422
The same here..

I deployed a token contract using remix-ide yesterday and not able to get it verified in Etherscan.
https://etherscan.io/tx/0xdd155456c9118273a5496dc222a66d55dd4becc287ad8a548a7b6637cf667ede

[2018-09-11 11:48] yann300 opened #1507 "Run tab input for `Deploy` and `At address` should have same format (size)"

[2018-09-11 14:32] #1368 closed

[2018-09-11 16:34] PaddyMc commented on #1462
Just a quick update,

I've created the autocomplete function, I'm working on the styles and layout of the popup and the functionality needs to be improved a bit, but it's coming alone nicely.

As regards the layout of the work, the files being added and edited are listed below:

1. Adding functionality to app/panel/terminal.js: to handle autocomplete
2. Adding app/ui/autoComplete.js: the component

[2018-09-11 18:11] ninabreznik opened #1509 "https://github.com/ethereum/play/issues"
There is a Play repo and all the issues are posted there

[2018-09-12 07:35] yann300 commented on #1462
@PaddyMc thanks for this, feel free to push a PR when the basic feature is done, we will then handle the UX together - @ryestew would you be able to help for the UX on this issue?

[2018-09-12 14:04] PaddyMc commented on #1462
@yann300 No worries, happy to help out! It'll be a few days before I create a pull req!

[2018-09-13 11:05] vikas1188 opened #1513 "Cannot load compiler version list"
Hi,
I've [disabled](https://github.com/ethereum/remix-ide/issues/1148) the Adblocker tool from Mozilla Firefox browser. restarted it. but still the compiler version is not getting loaded.

is there something which I need to do. This issues came right after the v0.7.0 release of remix.

Thanks.

[2018-09-13 11:38] yann300 commented on #1513
that should be back now
sorry for the delay

[2018-09-13 11:38] #1513 closed

[2018-09-13 12:35] vikas1188 opened #1515 "Same addresses are getting generated in JavascriptVM environment"
Hi,
When I select JavascriptVM as the environment, I can create more accounts by clicking on the plus icon just next to Accounts.

After clicking on it, I can see that it gives me two entries of the same address. check the last 4 addresses. you shall be able to see it.

Thanks.

<img width="398" alt="screen shot 2018-09-13 at 6 03 55 pm" src="https://user-images.githubusercontent.com/7501308/45488

[2018-09-13 12:59] 0mkara opened #1516 "indicate modified unsaved files"
Currently if a file is modified but not saved it does not give any indication. Unless a file is modified and saved operations are not performed on that file. Like other editors **remix-ide** should show a `*` sign after modified and unsaved files.

[2018-09-13 13:01] 0mkara opened #1517 "Remix tests spinner."
Add a spinner to indicate if `remix-tests` is performing tests or not.

[2018-09-13 13:07] yann300 commented on #1516
Now the current file is auto saved every 5 seconds, so there's no need to put a `*`.
and `ctrl+s` is used to start compiling if autocompile is off..
That said i think that's totally fine to put the editor in a "manual" mode where `*` is shown

[2018-09-13 17:08] AlexKirsanoff opened #2553 "How send transaction with msg.data in Remix?"
The fallback function may receive additional data (exposed in msg.data). How can I send a transaction with additional data in Remix?

[2018-09-14 16:12] vs77bb commented on #1500
@mul1ish you've been approved. Please let us know if you have any questions and a WIP PR sooner than later helps 🙂

[2018-09-14 16:18] mul1sh commented on #1500
@vs77bb  thanks for the opportunity, and I will definitely ask questions if I have any and also PR in the next 2 days 🙂

[2018-09-15 12:30] PaddyMc commented on #1462
Still working on this issue, I'm trying to make the autocomplete more intuitive at the moment and then I'll  add all the commands for swarmgw, ethers, and web3. It'll still be another few days before I create the pull request.

I'm using the format {"program.action()" : "description"}, so when the user has more than one option, a description of the command will be displayed.

[2018-09-15 14:06] dexterchan commented on #1498
filed a pull request
https://github.com/ethereum/remix-ide/pull/1522
thank you!!!

[2018-09-15 14:06] #1498 closed

[2018-09-17 19:46] cmaliwal commented on #1422
Yes, you can't verify your contract on etherscan if you deploy your code from remix and had optimisation is enabled .

It's key point for every solidity developer , because I faced this issue one time and I spent my two night to verify my contract on etherscan but I didn't get any success , at the last I redeploy my contract with optimisation enabled .

[2018-09-18 09:28] yann300 commented on #1500
@mul1sh do you need some feedback on this issue?
feel free to join https://gitter.im/ethereum/remix-dev and https://gitter.im/ethereum/remix-dev-plugin , we can have a chat there

[2018-09-18 09:32] yann300 opened #1527 "Plugin definition"
The JSON def contains currently `title` and `url`. It should also contain other fields like:

- maintainer company / individual
- email support
- documentation URL
- description

And we should display them meaningfully in the UI

[2018-09-18 09:32] yosrahelal commented on #1376
@kot-begemot did you solve your problem ? please ?

[2018-09-18 12:00] PaddyMc commented on #1462
@yann300 I've created a pull req here [#1528](https://github.com/ethereum/remix-ide/pull/1528), feel free to offer any suggestions or changes and I will be happy to change the code. Adding every command for each API would take a lot of time and could be done at a later date, just if you're wondering why I didn't add in every command for each API, I hope that's ok!

[2018-09-18 12:51] mul1sh commented on #1500
@yann300 yes please I definitely need feedback, so thanks for inviting me to the lobby. I want to make a WIP PR first in the next few hours and then from there you can give me feedback on what you think of my changes so far.

[2018-09-19 06:41] ann-kilzer commented on #1143
I'm getting this error in remix via mist v10.0. There are no adblockers here.

[2018-09-19 07:53] yann300 commented on #1143
please try to change the solidity version in `compile` tab

[2018-09-19 08:36] yann300 opened #1529 "[Static Analysis] Display the classification flag in the view"
from here https://github.com/ethereum/remix/blob/master/remix-analyzer/src/solidity-analyzer/modules/algorithmCategories.js

[2018-09-19 08:57] ann-kilzer commented on #1143
I did try to change the version. It won't accept the selection.

[2018-09-19 14:41] fulldecent opened #1530 "https only"
Currently remix is serving through insecure http.

![screen shot 2018-09-19 at 10 39 55 am](https://user-images.githubusercontent.com/382183/45760611-7ee4af80-bbf8-11e8-87d3-2e3739a3aa45.png)

Billions of dollars worth of commerce are going through these systems, please only allow https.

[2018-09-19 14:48] fulldecent opened #1531 "Github import error"
# Test case

[code]

# Error

![screen shot 2018-09-19 at 10 46 27 am](https://user-images.githubusercontent.com/382183/45760984-54dfbd00-bbf9-11e8-8c43-d8d593a4cb2a.png)

# Documentation

I was expecting this to work because of the documentation at:

https://remix.readthedocs.io/en/latest/tutorial_import.html#importing-from-github

[2018-09-19 15:06] yann300 commented on #1531
yes we need to clean up that part. update coming soon.
please try `import "github.com/0xcert/ethereum-erc721/contracts/tokens/NFToken.sol";`

[2018-09-19 16:03] fulldecent commented on #1531
Thank you for the note. Still getting the same error with this suggestion.

![screen shot 2018-09-19 at 12 03 14 pm](https://user-images.githubusercontent.com/382183/45765842-0c79cc80-bc04-11e8-98bf-016264c7fd1c.png)

[2018-09-19 16:11] yann300 commented on #1531
ah i see now.
could you expand the github explorer?
where are supposed to be located these import like `import "@0xcert/ethereum-utils/contracts/math/SafeMath.sol";`
if it's in your local computer you need to run remixd.

[2018-09-19 16:20] fulldecent commented on #1531
No, no, I'm trying to pull those dependencies from GitHub, not local computer. I recall that this feature worked as-is without remixd previously.

[2018-09-19 16:58] fulldecent commented on #1531
Ah, ah, I see. I'll get that updated

[2018-09-19 18:55] kejace commented on #1406
I have no idea what the thinking was when this was left out, but a workaround is to `npm i -g remix-ide` and search/replace for `runs: 200` in your global `node_modules` with the number you want. There are two occurrences.

[2018-09-20 09:59] yann300 commented on #1531
is everything fine? I m closing that one. please reopen if necessary.

[2018-09-20 09:59] #1531 closed

[2018-09-20 10:17] kavu commented on #1530
Both http://remix.ethereum.org/ and https://remix.ethereum.org/ are available. And, you are right, there is no HSTS headers. But there is a reasonable explanation - on HTTPS version of Remix you would not available to connect to your local node, unless it's also served though HTTPS, which is rare.

[2018-09-20 10:45] yann300 commented on #1515
fixed by https://github.com/ethereum/remix-ide/commit/0d60906e94e7da7ccaa08fdeaace2b30d6ee7e13

[2018-09-20 10:45] #1515 closed

[2018-09-21 03:18] fulldecent commented on #1530
My only recommendation is that the version deployed to http://remix.ethereum.org/  would include a redirect to the https version. It is not necessary (or appropriate) for this redirect to apply for local downloads.

[2018-09-21 19:45] mul1sh commented on #1500
@yann300 this submission is just a WIP PR of sorts, since I can't PR to the `remix-ide` repo. So don't worry about it now, more changes are coming and then I'll alert you to test the update plugin 😃

[2018-09-22 21:33] raphaelhuefner commented on #1481
@gitcoinbot Still working on this, albeit slowly, because these days I have to relocate for a new job in a blockchain company.

[2018-09-24 13:19] yann300 commented on #1460
this is deployed to remix live

[2018-09-24 13:19] #1460 closed

[2018-09-24 13:27] #1242 closed

[2018-09-24 13:28] #954 closed

[2018-09-24 13:28] #928 closed

[2018-09-24 13:29] yann300 commented on #908
we switched to `ethers.js` so that should be fixed now

[2018-09-24 13:29] #908 closed

[2018-09-24 17:58] prashantprabhakar commented on #1380
@yann300 Facing the issue with `Current version:0.4.24+commit.e67f0147.Emscripten.clang`. Seems the issue is not resolved yet.

[2018-09-25 16:32] ryestew commented on #1423
Here are 10 images:

![1-ux-redo_v0 1b_no-icon-col](https://user-images.githubusercontent.com/6050001/46028604-5aee0600-c0f1-11e8-8d70-03e56bbc8030.png)
![2- ux-redo_v0 1-rt-icons-over-panels](https://user-images.githubusercontent.com/6050001/46028616-604b5080-c0f1-11e8-9c48-bbff7d9cb4a6.png)
![3-ux-redo_v0 1-rt-icons-over-panels-a](https://user-images.githubusercontent.com/6050001/46028623-634641

[2018-09-25 16:33] ryestew commented on #1423
![4-ux-redo_v0 1-icon-rt](https://user-images.githubusercontent.com/6050001/46028645-6f320300-c0f1-11e8-8913-b856512938d3.png)
![5-ux-redo_v0 1-icon-col-middle](https://user-images.githubusercontent.com/6050001/46028649-72c58a00-c0f1-11e8-848c-343593200a11.png)
![6-ux-redo_v0 1a](https://user-images.githubusercontent.com/6050001/46028652-7527e400-c0f1-11e8-9a99-46f462e1a8e6.png)

[2018-09-26 07:17] yann300 commented on #1462
@ryan-shea @vs77bb @PaddyMc yep we will be reviewing that one

[2018-09-26 16:18] raphaelhuefner commented on #1481
Hey @ryestew ,

I finally, finally figured out which colors to change so that the new tokenizations don't turn from the pale green to deep blue. I.e. what you were talking about [about a month ago](https://github.com/ethereum/remix-ide/issues/1481#issuecomment-416374797).

While going down a rabbit-hole of "color reports" (pls don't ask ;-) ), I discovered a few more tokenizations which "turned bl

[2018-09-30 17:48] mGrossSRT opened #1537 "This contract does not implement all functions and thus cannot be created."
Would it be possible to implement something to pinpoint us in the right direction when debugging this issue? Smart contracts can get very complicated and intricated with one contract feeding on various interfaces. It would be a *VERY* useful too to implement.

[2018-10-02 09:36] hiddentao commented on #1231
Would love to see this too!

[2018-10-02 15:47] raphaelhuefner commented on #1481
Yes, still working on it. Now I'm prepping the first of two PRs which changes the colors so that they appear as before the tokenizer upgrade.

[2018-10-03 07:23] ayushkaul95 opened #1540 "URL Remix IDE instance has to be provided."
After following the steps below:
git clone https://github.com/ethereum/remix-ide.git
cd remix-ide
npm install
npm run setupremix  # this will clone https://github.com/ethereum/remix for you and link it to remix-ide. Only execute this step if you want to contribute on Remix development
npm start

Error: [remixd  ] [ERR] URL Remix IDE instance has to be provided.

[2018-10-05 17:08] raphaelhuefner commented on #1481
Waiting for feedback from @ryestew .

[2018-10-07 20:30] PaddyMc commented on #1462
Hey @yann300, is there anything else you would like me to do for this?

[2018-10-08 03:54] stvenyin commented on #975
Thank you very much.

[2018-10-08 07:41] LianaHus opened #1544 "Remove unnecessary spaces in "Run tab""
objects can be more tighten up to free up some space

[2018-10-08 07:46] LianaHus opened #1545 "cleanup after close file"
steps to reproduce: close last open file
actual results: context of last file stays
expected results: empty view or some info/tutorial

[2018-10-08 09:56] #1540 closed

[2018-10-09 07:14] yann300 commented on #1545
seems it was fixed in a recent PR, could confirm that @LianaHus ?

[2018-10-09 19:44] abrhamelm commented on #1143
do i need an internet connection for the offline version?

[2018-10-09 19:49] yann300 commented on #1143
no you don't

[2018-10-10 08:59] LianaHus commented on #1545
this is fixed, but, as discussed, we should cleanup tabs after that. So I'll leave the issue open.

[2018-10-13 20:16] vs77bb commented on #1462
Hi @yann300 any update here? Hope you are doing well 😄

[2018-10-13 20:17] vs77bb commented on #1481
Hi @ryestew is this one still in review with you? cc @raphaelhuefner

[2018-10-13 20:53] vs77bb commented on #1500
Hi @mul1sh is this one ready for review? Hope you're doing well 🙂

[2018-10-14 15:41] mul1sh commented on #1500
@vs77bb i'm very well, hope you are too. This needs one more commit which i'm currrently working on and then it'll be good for review 🙂

[2018-10-14 22:37] ryestew commented on #1481
yes it is - I will have more about it tomorrow.

Rob

On Sat, Oct 13, 2018 at 10:17 PM Vivek Singh <notifications@github.com>
wrote:

[2018-10-15 13:51] PaddyMc commented on #1462
Hey @vs77bb, @ryestew & I are still collaborating on a few improvements to the original design! See #1528 or more specifically [here](https://github.com/ethereum/remix-ide/pull/1528#issuecomment-429338153).

[2018-10-15 13:56] ryestew commented on #1481
@raphaelhuefner - I'm sorry I missed the notification about your update 19 days ago.  I'm contacting the solidity team for their view of colors and differentiation of key words.  I'll have an update as soon as I hear back from them.

[2018-10-15 18:05] un1t opened #1553 ""Copy value to clipboard" is hidden by scroll"
On "Run" tab, near account, there is "Copy value to clipboard" button. But it is invisible, because it is under a scroll.

I use Ubuntu 16.04.
I tried Chrome and Firefox. This button is invisible in both.

[2018-10-16 10:46] yann300 commented on #1553
could you post a screenshot please?
if you expand the run tab width?

[2018-10-16 10:58] un1t commented on #1553
here is a screenshot
![selection_358](https://user-images.githubusercontent.com/440376/47011761-26072900-d15c-11e8-98b2-6ae285a8131f.png)

If I expand run tab, it is visible.

[2018-10-16 16:47] hunshenshi opened #1554 "✖ Install fail! Error: GET https://registry.npmjs.com/downloadsolc_root response 404 status"
when I run `cnpm install`

[downloadsolc_root] ✖ Install fail! Error: GET https://registry.npmjs.com/downloadsolc_root response 404 status
[downloadsolc_root] Error: GET https://registry.npmjs.com/downloadsolc_root response 404 status
[downloadsolc_root]     at get (/home/hadoop/blockchain/ethereum/node-v10.12.0-linux-x64/lib/node_modules/cnpm/node_modules/npminstall/lib/get.js:57:17)
[downloadsol

[2018-10-19 08:10] #1043 closed

[2018-10-19 08:11] yann300 commented on #1410
here is the etherscan API doc https://etherscan.io/apis#contracts

[2018-10-19 14:07] 0xC0DE4C0FFEE opened #1558 "ETH sent during deployment goes to library address instead of contract address"
Using Solidity v0.4.25 and Remix-ide v0.7.3 (JS EVM)
Browser : Firefox

![image](https://user-images.githubusercontent.com/43116881/47184811-67116000-d34b-11e8-902a-db5ec7caf555.png)

My contract & library looks like this
[code]

[2018-10-19 14:49] yann300 commented on #1558
work around would be to manually deploy the library:
in settings tab, check the first option, start compiling to generate metadata, then use it to provide the library address.

[2018-10-19 18:10] raphaelhuefner commented on #1481
@ryestew Here is a pull request to show how to bring those old colors back. Adding new colors will be just as easy. ;-)

[2018-10-20 08:08] yann300 commented on #1410
I don't think we should automatically verify, but we can add an action which send the source code, compiler version, optimization settings, contract address to etherscan and perhaps another one for checking if a particular contract is verified.
I believe etherscan provides as much entry point for this API as networks available (ropsten, rinkeby, kovan, mainnet), so all should be manageable within

[2018-10-24 04:48] fulldecent opened #1570 "Tests - start with a balance"
[code]

This is failing on the line where I send money to subject. Please have the test account start with some Ether to send.

[2018-10-24 04:48] fulldecent opened #1571 "Test failures are silent"
Test case

[code]

This test will fail silently and not produce any error. Also it will not be listed on the list of tests.

Ignoring that it crashes the tab, all tests should show on the test tab, not just the ones that pass or fail.

[2018-10-24 08:30] #1231 closed

[2018-10-25 00:19] ryan-shea commented on #1481
Hey @ryestew, Ryan from Gitcoin here. Have you heard back from the solidity team? Want to make sure that this bounty is moving along 😄 🗺

If you have any questions please let me know! I will snooze Gitcoin bot for a few extra days.

[2018-10-25 12:21] mul1sh commented on #1500
@yann300 @vs77bb this is the final plugin. The only thing not done is the `manticore` action as discussed @yann300 the rest should work as expected 😄

[2018-10-25 13:56] yann300 commented on #1500
closing this as the basics seems to work

[2018-10-25 13:56] #1500 closed

[2018-10-31 04:42] andrewkmin commented on #1167
Why does this make a difference? @gen4sp

[2018-11-02 19:41] loredanacirstea opened #1595 "Plugin API - getCompilationResult for a plugin-given source code"
It would be nice to expose a plugin API for triggering compilation for a given source? E.g. :
[code]
This would make user onboarding on the JavaScriptVM a lot easier for plugins, if they provide contracts that need to be compiled/deployed before they can be used.
Now, the process requires the user to load the contracts that he wants in Remix, compile and deploy it himself.

[2018-11-02 19:49] loredanacirstea opened #1594 "Plugin API - trigger Remix debugger for a JavaScriptVM txn made by the plugin"
When I was making a transaction through the plugin API (`PluginAPI.call('udapp', 'runTx', [transaction], function(error, result) {})`), it did not show up in the Remix terminal, so I can debug it - am I missing something?

Also, what do you think about adding a plugin API for starting the debugger for a specific transaction hash?

[2018-11-05 12:31] #1544 closed

[2018-11-05 12:49] yann300 commented on #1507
done

[2018-11-05 12:49] #1507 closed

[2018-11-05 12:50] yann300 commented on #1499
that's fixed

[2018-11-05 12:50] #1499 closed

[2018-11-05 12:52] yann300 commented on #1488
that is deployed in remix.ethereum.org

[2018-11-05 12:52] #1488 closed

[2018-11-05 12:56] yann300 commented on #1378
i just pushed the fix

[2018-11-05 12:56] #1378 closed

[2018-11-05 13:36] yann300 opened #1589 "plugin API spec"
This issue track down the work / focus being done at the moment.
Please associate with each item any individual issue it refers to.

 - [ ] handshake
 - [ ] plugin only connect to allowed remix origin (or electron)
 - [ ] remix only load plugin which fit its content hash
 - [ ] plugin content hash is stored either in mainchain or github for a start
 - [ ] plugin should declare API / notification t

[2018-11-06 10:34] yann300 commented on #242
ctrl+S is used now for triggering compilation

[2018-11-06 10:34] #242 closed

[2018-11-06 10:43] yann300 commented on #1305
duplicate https://github.com/ethereum/remix-ide/issues/1245

[2018-11-06 10:43] #1305 closed

[2018-11-06 16:23] hgedia opened #1592 "Store scaling settings for user"
Usually on closing the tab & revisiting the remix url , the font scaling is re-set. It would be great if this could be maintained.

Steps to reproduce:
1. Hit + key to increase font size
2. Close tab
3. Re-visit in a new tab.

[2018-11-07 01:23] BigMurry opened #1590 "remix should support metamask's privacy mode"
Metamask has shipped the new release which introduced the new feature Privacy Mode based on [EIP-1102] (https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md). And when Privacy Mode is ON, remix should work properly.

some details: MetaMask/metamask-extension#4703

[2018-11-07 03:12] justuswilhelm opened #1591 "Too much recursion error when loading compiler"
I've been hitting this issue in Chrome and Firefox. Steps to reproduce

1. Go to remix.ethereum.org
2. Load a compiler
3. Nothing happens
4. Too much recursion error in JS console

![image](https://user-images.githubusercontent.com/1641042/48108401-5be48c80-e286-11e8-8a6a-4b4720481fce.png)

[2018-11-07 12:12] loredanacirstea opened #1593 "Plugin API - set Run tab values"
Adding APIs for allowing plugins to set (some of the) Run tab values directly:
- contract name value for the `select` active option
- constructor arguments for deployment
- `At Address` value

This would make the user experience easy, but they might also be a security risk if the user is unaware that a plugin can do this.

[2018-11-07 12:18] yann300 commented on #1591
do you have the same behavior with remix-alpha.ethereum.org ?

[2018-11-08 03:57] justuswilhelm commented on #1591
@yann300 thanks for checking into this. With remix-alpha.ethereum.org I am encountering the same issue. See the attached screenshot
![image](https://user-images.githubusercontent.com/1641042/48176975-e516c480-e355-11e8-9ce1-d24d52fe3b65.png)

[2018-11-08 05:10] ryan-shea commented on #1481
Hey @vs77bb, looks like this one is ready to be reviewed!

[2018-11-09 11:31] #1139 closed

[2018-11-09 11:33] #1058 closed

[2018-11-09 11:35] #915 closed

[2018-11-09 11:35] #914 closed

[2018-11-09 11:37] yann300 commented on #907
@idrabenia are you still interested on providing this linter?
Please PM at gitter/yann300

[2018-11-09 11:37] #907 closed

[2018-11-09 11:37] #893 closed

[2018-11-09 11:41] yann300 commented on #482
that's done

[2018-11-09 11:41] #482 closed

[2018-11-09 11:43] #307 closed

[2018-11-09 11:44] #237 closed

[2018-11-09 11:44] #168 closed

[2018-11-09 11:45] #164 closed

[2018-11-09 11:46] #153 closed

[2018-11-09 11:46] #152 closed

[2018-11-09 11:48] #75 closed

[2018-11-09 11:48] #58 closed

[2018-11-09 12:37] byteknacker commented on #596
Do you mean by all deployed contracts literally the entire combined balance deployed on the Ethereum network?

[2018-11-09 12:42] byteknacker commented on #1198
Ok, this looks like something I can understand a little bit. If I add a theme, do I just literally copy the style-guide.js and change the values of the css properties, like colour and icons to get to another theme?

[2018-11-09 19:35] mickayz opened #1598 "Problem requesting http://127.0.0.1:8080 in Brave browser"
When running remix-ide installed through NPM, opening http://127.0.0.1:8080 in the Brave browser does not load the application. The request succeeds but the page is blank.

Requesting http://localhost:8080 works, however, this causes remixd to reject based off an incorrect origin.

Versions:
remix-ide: 0.7.4
Brave: 0.25.2

[2018-11-09 19:47] mickayz commented on #1598
Brave console says:

app.js:198426 Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.

[2018-11-09 19:49] mickayz commented on #1598
Ah. It looks like this is caused by having the Brave Shield: "Block 3rd Party Cookies" on.

[2018-11-09 19:49] #1598 closed

[2018-11-11 12:48] yann300 commented on #596
I mean in the run tab the `deployed contracts` section

[2018-11-11 12:49] yann300 commented on #1198
yes as a base, you can use the dark or light theme

[2018-11-11 20:10] zupino opened #1599 "Wrong uint value displayed in debug panel"
The Solidity Locals section in the debug panel seems to display wrong value for uint.
In the screenshot below, debug panel shows `3000000000000000000` as value for `closedTask`, but the actual value is (correctly) 3, in fact the if condition is `true` and `projectStatus` is correctly set to 2.

![image](https://user-images.githubusercontent.com/4855290/48317659-9ab37300-e5f5-11e8-9c1f-8e127d9b6e81

[2018-11-12 03:31] fulldecent opened #1600 "Clicking on compile tab options only works in box"
![old](https://user-images.githubusercontent.com/382183/48325006-8bd2bd80-e601-11e8-8cea-4ac58a91e07f.gif)

Clicking on the word does not select the checkbox.

PR coming.

[2018-11-12 05:12] uhhhh2 commented on #1591
When my dependencies are flat (Contract depends on Library), compile and deploy work. When a third level is introduced (Contract depends on Library depends on Library), I get similar errors, even if I try to deploy manually in the correct order. Not sure if it is the same issue.

[2018-11-12 07:43] yann300 commented on #1591
@uhhhh2 could you PM the source code please, i 'll check that ? gitter.im/yann300

[2018-11-12 08:02] #1600 closed

[2018-11-12 08:09] yann300 opened #1602 "Refactor Run tab"
code located at https://github.com/ethereum/remix-ide/blob/master/src/app/tabs/run-tab.js

It needs some refactor, cleaning (proper ES6 class) and perhaps splitting down into several components.

[2018-11-12 14:46] LianaHus commented on #1592
duplicate of https://github.com/ethereum/remix-ide/issues/150

[2018-11-12 14:46] LianaHus commented on #1592
duplicate of https://github.com/ethereum/remix-ide/issues/150

[2018-11-12 14:46] #1592 closed

[2018-11-12 14:50] LianaHus commented on #1545
- display some info on file explorer if there is no file open
- clean warnings and errors
- disable some buttons on tabs

[2018-11-13 05:29] kennblvnp commented on #1458
Yeah How do we fix this?
`npm start` cause an error

[2018-11-13 09:11] yann300 commented on #1410
the plugin should also propose to verify a contract using the API

[2018-11-13 09:12] yann300 commented on #1410
if there's need to extend the API, please ping us at gitter.com/remix-dev @yann300 @GrandSchtroumpf

[2018-11-13 09:14] yann300 commented on #1458
as an alternative you can use npm run build && npm run serve

[2018-11-13 19:51] zupino commented on #1599
I forgot to mention that there is another unexpected behavior observed in the same use case: the function in the screenshot declares 2 local variables (`totalPayout` and `closedTask`), but the debug panel only shows 1.

[2018-11-14 02:06] ceresstation commented on #1462
Thanks for the update @PaddyMc!

[2018-11-14 07:32] mul1sh commented on #1410
@yann300 ok will do, i've already started work on this, will do a WIP pr in a few

[2018-11-14 09:09] axic opened #1606 "Only select known working major version of Solidity"
Remix currently selects the last release from solc-bin.

Going forward with a plan to have more breaking releases, it would make sense for Remix to always select the last release of the major version it is tested with. It can still display other in the dropdown.

For example if Remix uses solc-js 0.4.25, then it should not offer 0.5.0 as the default item in the dropdown.

[2018-11-14 11:42] axic opened #1607 "Solidity 0.5.0"
The new release comes with breaking changes in solc-js too. Please move on from `solc.compileStandardWrapper` to `solc.compile`. The interface is the same, it is only a renaming.

Note: the new release binary will not work at all with an old solc-js (such as 0.4.25).

[2018-11-14 13:10] #1571 closed

[2018-11-14 16:48] LianaHus commented on #1607
https://github.com/ethereum/remix/pull/1053 but tests have to be fixed first

[2018-11-15 00:44] SoumanPaul opened #1608 "compilation problem on mozilla browser"
remix-ide does not compile contract on mozilla  browser. same code works fine on chrome

[2018-11-15 08:48] yann300 commented on #1608
@SoumanPaul could you post the code?
Please also switch to 0.4.25 compiler, we still have to update support for 0.5.0 .
closing, please reopen if you still have the same issue with 0.4.25

[2018-11-15 08:48] #1608 closed

[2018-11-15 13:58] axic commented on #1606
One can use the [`semver`](https://www.npmjs.com/package/semver) package to achieve this:

`semver.satisfies(<compiler version>, “^0.4.0”)` returns `true` on a 0.4.x compatible version

Currently remix selects the last entry in the `releases` from `solc-bin/list.json`. It would need to iterate that list in reverse (i.e. 0.5.0 is the first entry) and stop when the `semver.satisfies` returns true.

[2018-11-15 21:46] wjmelements opened #1609 "Deployed Contracts use the wrong type"
If I deploy two contracts of a different type and then they both confirm, both will be typed as the second contract. Whatever tracks the pending contract deployment tx should also track contract name and ABI instead of assuming the currently selected contract was the one originally deployed.

[2018-11-16 08:40] gulshanvasnani opened #1624 "Correction in error message."
Consider following two contracts :-
1. Contract D which inherits contract E.

[code]

2. Contract E :-

[code]

When we deploy contract D, remix throws **This contract does not implement all functions and thus cannot be created.** As we can see that there are no methods in contract E whose implementation is needed. The reason for error is we have to call constructor of contract E using constructor

[2018-11-19 08:42] Mojicode opened #1610 "npm run setupremix"
when I execute five steps below:

- git clone https://github.com/ethereum/remix-ide.git
- cd remix-ide
- npm install
- npm run setupremix
- npm start

It print error below:
**Error: Cannot find module 'remix-lib'
 Error: Cannot find module 'remix-tests'
 Error: Cannot find module 'remix-solidity'**

and I find out remix-lib doesn't exist indeed, why?

[2018-11-19 08:49] Mojicode commented on #1610
![menu saveimg savepath20181119164546](https://user-images.githubusercontent.com/30165217/48695743-ee881280-ec1a-11e8-93c7-6b54eb2eedb9.jpg)
I find @yann300 remove "npm run pullremix", why?

[2018-11-19 09:15] yann300 commented on #1610
because we change the location of remix repositories (when you do `npm run setuplinkremix` for instance)

remix-ide and remix repositories should be siblings (I will update readme).
are you devloping on remix and remix-ide? (these scripts are only relevant if you plan to plan to update the code

[2018-11-19 09:50] Mojicode commented on #1610
thank you, I have known why and modified the package.json scrip. Please updating readme in time.

[2018-11-19 09:50] #1610 closed

[2018-11-19 11:13] Mojicode opened #1611 "compiler is loading"
when I open remix-ide with browser, the "start to compile" begin keeping rotating, and never stop.
This remix-ide is from git, and start it by:

- git clone https://github.com/ethereum/remix-ide.git
- git clone https://github.com/ethereum/remix.git
- cd remix-ide
- npm install
- npm run setupremix
- npm start
![compilerisloading](https://user-images.githubusercontent.com/30165217/48747409-3ad06280

[2018-11-21 02:46] ceresstation commented on #1410
Hey @mul1sh how are things going towards the PR?

[2018-11-21 03:41] mul1sh commented on #1410
@ceresstation i've gotten the POST request to the etherscan api (with the necessary data) working. So now implementing the checks to see whether a contract is verified and i'll be done.

[2018-11-21 10:53] yann300 commented on #1611
0.5 support has been added, issue should be fixed new

[2018-11-21 10:53] #1611 closed

[2018-11-21 10:54] #1607 closed

[2018-11-21 14:53] yann300 opened #1614 "[API] using getFile(..) does not get the up to date content"
Using the Remix API, the code is not updated immediately when using the `getFile(...)`

[2018-11-22 03:02] Mojicode commented on #1611
Uncaught abort("NO_DYNAMIC_EXECUTION was set, cannot eval - ccall/cwrap are not functional") at Error
![0-5-0compilerloading](https://user-images.githubusercontent.com/30165217/48879309-1ad3a700-ee46-11e8-9294-eaf22f06aa65.jpg)

[2018-11-22 15:00] ryestew commented on #1423
Next Round

[0-zones.pdf](https://github.com/ethereum/remix-ide/files/2608510/0-zones.pdf)

[2018-11-22 15:00] ryestew commented on #1423
[1-info-screen.pdf](https://github.com/ethereum/remix-ide/files/2608515/1-info-screen.pdf)

[2018-11-22 15:01] ryestew commented on #1423
[2-collaped-fexpl.pdf](https://github.com/ethereum/remix-ide/files/2608518/2-collaped-fexpl.pdf)

[2018-11-22 15:01] ryestew commented on #1423
[3-exp-fexpl.pdf](https://github.com/ethereum/remix-ide/files/2608519/3-exp-fexpl.pdf)

[2018-11-22 15:02] ryestew commented on #1423
[4-plugins.pdf](https://github.com/ethereum/remix-ide/files/2608520/4-plugins.pdf)

[2018-11-22 15:02] ryestew commented on #1423
[5-debugger-left-icons-rt.pdf](https://github.com/ethereum/remix-ide/files/2608521/5-debugger-left-icons-rt.pdf)

[2018-11-22 15:02] ryestew commented on #1423
[6-plugins-docked.pdf](https://github.com/ethereum/remix-ide/files/2608523/6-plugins-docked.pdf)

[2018-11-23 15:01] axic opened #1620 "Upgrade to ethereumjs-vm 2.5.0 for Constantinople"
The VM has a new API, it is possible to specify a hard fork: https://github.com/ethereumjs/ethereumjs-vm/blob/master/docs/index.md#vm

It would be nice to expose this option on Remix.

cc @holgerd77

[2018-11-23 17:15] ryestew commented on #1481
I'll have it reviewed before Tuesday.

[2018-11-23 21:27] GravelCoin opened #1621 "[ERR] Unexpected Error servicesList[name][fn] is not a function"
Hi everybody!

Today, when I was trying to access a local folder from Remix IDE using remixd `remixd -s local folder` I found out that the contracts were not displayed on the menu, even the Connect Localhost was green.

Then I got this: "**[ERR] Unexpected Error servicesList[name][fn] is not a function**".

What can I do to solve this?

Thanks in Advance!!!
Details: I could access the folder with

[2018-11-24 19:01] yann300 commented on #1621
please try updating remixd to latest version, which is ` 0.1.8-alpha.6 `
`npm install -g remixd`

[2018-11-24 19:01] #1621 closed

[2018-11-25 01:43] ceresstation commented on #1410
Thanks for the update!

[2018-11-25 05:50] JacksonTom opened #1622 "problem while `npm start`"
[remixd  ] [WARN] You may now only use IDE at http://127.0.0.1:8080 to connect to that instance
[remixd  ] [WARN] Any application that runs on your computer can potentially read from and write to all files in the directory.
[remixd  ] [WARN] Symbolinc links are not forwarded to Remix IDE
[remixd  ]
[remixd  ] [WARN] Symbolic link modification not allowed : ./contracts | /opt/remix-ide/contracts
[r

[2018-11-25 05:51] JacksonTom commented on #1622
so where is build/app.js?

[2018-11-25 16:02] mul1sh commented on #1410
@ceresstation 👍

[2018-11-26 00:34] GravelCoin commented on #1621
With version **0.1.8-alpha.4** remixd worked, then the chain icon on Remix IDE becomes **green** but the link "Localhost" nor the contracts are displayed.

[2018-11-26 09:12] yann300 commented on #1410
thanks @mul1sh @ceresstation
please ping us at https://gitter.im/ethereum/remix-dev-plugin if you need anything

[2018-11-26 09:12] yann300 commented on #1621
the latest is ´0.1.8-alpha.6´ could you update to this one?

[2018-11-26 12:07] holgerd77 commented on #1620
Yes, I am available for assistance and some guidance if needed.

[2018-11-26 12:10] holgerd77 commented on #1620
Think the easiest way for integration would be to just add two entries for environment, so in:

``Run`` -> ``Environment``:

- ``JavaScript VM (Byzantium)``
- ``JavaScript VM (Constantinople)``

Should be a fairly local change (probably, hehe 😄).

[2018-11-26 13:16] GravelCoin commented on #1621
Yes, I know 0.1.8-alpha.6 is the latest. It's not possible to install this version.

With .4 it's possible to install but the contracts don't show up.

[2018-11-26 13:58] yann300 commented on #1622
could you run `npm run build` first?

[2018-11-26 14:00] yann300 opened #1623 "Cannot debug 2 time in a row"

[2018-11-26 14:01] yann300 commented on #1623
Second time the UI is stucj

[2018-11-26 14:20] yann300 commented on #1621
why?

[2018-11-26 15:55] yann300 commented on #1624
thanks for the feed back, the message should be more accurate

[2018-11-26 16:51] #1624 closed

[2018-11-27 04:01] Lokraan commented on #596
I will also have to edit `renderInstance` and `renderInstanceFromABI` in `universal-dapp-ui.js`

[2018-11-28 14:05] #1462 closed

[2018-11-28 14:16] yann300 commented on #1462
thanks @PaddyMc ! ;)

[2018-11-28 15:56] #1558 closed

[2018-11-28 18:45] PaddyMc commented on #1462
No problem! Thanks for the help @yann300 @ryestew

[2018-11-29 14:33] mul1sh commented on #1410
@yann300 thanks, joining now

[2018-11-30 02:37] corollari opened #1632 "Use NatSpec in the example contract"
Before the example contract included in remix was updated in #1612 it used to be full natspec'd.
That PR removed the natspec lines, should that be interpreted as a decision from the maintainers to not use natspec in the example contract moving forward or you simply didn't have time to add the NatSpec comments?
If it's the latter, I could submit a PR adding them (open to changing them after discuss

[2018-11-30 10:14] yann300 commented on #1632
you mean the Ballot.sol? The plan is to move to this implementation https://solidity.readthedocs.io/en/v0.4.24/solidity-by-example.html#voting? that involve updating the tests too.

[2018-11-30 10:49] corollari commented on #1632
Okay, I'll ask upstream about using NatSpec on this example contract then.

[2018-11-30 19:09] pjonson2 commented on #1531
I am getting the following error message.

**file provider localhost not available while trying to resolve localhost/node_modules/openzeppelin-solidity/contracts/contracts/math/SafeMath.sol**

![screen shot 2018-11-30 at 2 08 17 pm](https://user-images.githubusercontent.com/13080825/49309521-81da0700-f4a9-11e8-954c-00daa5e6715e.png)

Then after importing openzeppelin-solidity/contracts/contracts/m

[2018-12-03 14:01] mul1sh commented on #1410
@yann300 @ceresstation since I can't PR to `remix-ide` directly , because the solution to this issue is a plugin, the link to the verification plugin is https://github.com/mul1sh/verify-contract

I'm doing one last commit to it in a few hours and then it will be ready 🙂

[2018-12-03 14:35] yann300 commented on #1410
awesome! ;)
cc @GrandSchtroumpf

[2018-12-04 12:21] ceresstation commented on #1410
Thanks @mul1sh!

[2018-12-04 13:57] cleanunicorn commented on #1352
Yes, this is confusing. Could the gas limit specified there be used when making transactions?

I see there is a gas estimation request done before and the result from there is used. Sometimes that is incorrect and even if we set a really high gas limit the transaction fails.

[2018-12-05 06:20] cleanunicorn commented on #1352
@yann300 I'm not sure if this is enough or if I break some functionality
https://github.com/ethereum/remix/pull/1092

[2018-12-05 13:18] PaddyMc commented on #1462
Hey @vs77bb , this bounty has been completed!

[2018-12-05 15:52] LianaHus opened #1637 "renaming of some items on file explorer should be denied"
currently it is possible to rename all items including "browser", "config"...

[2018-12-05 17:06] yann300 commented on #1462
@vs77bb confirmed ;)

[2018-12-05 22:14] mul1sh commented on #1410
@yann300 @ceresstation this is more of an update to the above repo, the plugin is not fully ready but i didn't want @gitcoinbot to make noise to me 😄.

Nonetheless it'll be fully ready in a few hours from now.

[2018-12-06 15:31] ryestew commented on #1423
This image show the 3 main panels.
1. icon panel - The main switchbox
2. swap panel - All the tabs currently on the right side will appear here - but they will be turned off and on by clicking on the icons in the icon panel.
3. tab panel - to allow for more than just Ace editor files ( like it currently is).  Will be able to accept iFrames and internal modules - if configured to show up here.

The

[2018-12-09 18:21] ferittuncer commented on #621
Please provide a documentation on how to pass inputs. Spending 2 hours for this is INSANE.

[2018-12-10 02:01] ryan-shea commented on #1481
Hey @ryestew, any updates here? 😄

[2018-12-10 02:41] CPSTL commented on #1410
Hey @stefek99! Have you had the opportunity to check out the submitted work yet?

[2018-12-11 01:45] Keith-CY opened #1640 "Open-zeppelin Import Error"
When I try to import `SafeMath` from the plugin of `openzeppelin`, `Math` is imported.

[2018-12-11 12:03] stefek99 commented on #1410
Thanks for chasing me.

Here are the instructions: https://github.com/mul1sh/verify-contract#usage

Does not work for me:
![image](https://user-images.githubusercontent.com/249703/49799119-6a6e0a00-fd44-11e8-959d-d22f28f408e3.png)

---

Maybe position the button next to the transaction receipt?

And pre-populate the contract address?

Also the mainnet / testnet, how does it know which network I'm

[2018-12-11 12:07] mul1sh commented on #1410
@stefek99 sorry i'm still modifying the plugin, will update it in a few hours will the ability to do all this i.e. switch between networks,  pre-populate the contract address e.t.c

[2018-12-16 22:57] fulldecent opened #1641 "New GitHub import errors"
Any file I attempt to load with GitHub results in:

[2018-12-17 04:33] CPSTL commented on #1410
Hey @mul1sh have you had the chance to modify the plugin and update @stefek99 yet?

[2018-12-17 22:17] vs77bb commented on #1462
@PaddyMc @yann300 Just paid out! Apologies for the delay + great work 🎉

[2018-12-19 13:17] maoqianqian123456 opened #1643 "How to input a nested structure parameter in remix?"
This is my code.I want use function which name is init2,So anybody know how to input a nested structure parameter?thanks!!
pragma solidity ^0.5.1;
pragma experimental ABIEncoderV2;

contract simple {
    struct Teacher{
        int age1;
    }

  struct Student{
        int age2;
        Teacher teacher;
  }

function init( Teacher memory n)   public  returns (Student memory s, Teacher memory q){

[2018-12-21 06:19] sachushaji commented on #1380
@yann300 I am also facing a similar issue with the current remix ide. I will get the error while copy pasting the code.
![screenshot from 2018-12-21 11-43-44](https://user-images.githubusercontent.com/15767732/50327722-3ea60d80-0516-11e9-97a2-4f5f5e96bbb5.png)
But after I make a small change like adding space or anything else, the code recompiles and everything works perfectly.

[2018-12-22 01:31] unparalleled-js opened #1644 "Can't compile in firefox or load older compiler"
Hello.
Currently was using Firefox to work with remix web IDE, but I had to switch to chrome because a few things with the compiler were not working...

First, I just could not compile a simple contract:

<img width="298" alt="screen shot 2018-12-21 at 7 29 13 pm" src="https://user-images.githubusercontent.com/19540978/50369192-da576e00-0556-11e9-85e1-ec8d95d482e5.png">
<img width="408" alt="scree

[2018-12-24 04:44] BaiMingxu opened #1645 "Please help. Why did the installation fail"
<img width="1244" alt="2018-12-24 12 40 39" src="https://user-images.githubusercontent.com/22886455/50391025-96907e80-0779-11e9-9147-687f8f608ae3.png">

[2018-12-26 15:09] jhokkar commented on #1606
@axic Can you please explain how to get the base version against which we will be checking(0.4.0 in above example)?

[2018-12-27 11:44] dgrmunch opened #1659 "Internal exception in StandardCompiler"
I am having problems with my new solidity contracts in Remix.
For example, I get:

"Internal exception in StandardCompiler::compileInternal: /root/project/libevmasm/ExpressionClasses.cpp(187): Throw in function ExpressionClasses::Id dev::eth::ExpressionClasses::tryToSimplify(const dev::eth::ExpressionClasses::Expression &)
Dynamic exception type: boost::exception_detail::clone_impl<dev::eth::Optim

[2019-01-02 10:56] yann300 commented on #1644
cc @chriseth @axic

[2019-01-02 10:57] yann300 commented on #1645
I would suggest updating node to latest version

[2019-01-02 15:30] code-brewer opened #1651 "why click 'localhost connection' from ide, get rejected ( 403 response code) ?"
The brower console print error:
app.js:263614 WebSocket connection to 'ws://localhost:65520/' failed: Error during WebSocket handshake: Unexpected response code: 403

and the in the terminall where innvoke remix-ide command print message:
Wed Jan 02 2019 23:00:27 GMT+0800 (CST) Connection from origin http://localhost:8080 rejected.

If i open ide via 127.0.0.1:8080 URL, the same result:
Wed Jan 02

[2019-01-03 10:01] yann300 commented on #1651
what is the value of the `--remix-ide` option?

[2019-01-03 10:40] code-brewer commented on #1651
I use the version installed by 'npm install -g remix-ide' (i think it build-in with remixd, and no need to start remixd seperately).

then, i just invoke by 'remix-ide'  without any options.

Like this:
➜  abigen_test remix-ide
Starting Remix IDE at http://localhost:8080 and sharing /xxx/abigen_test
Wed Jan 02 2019 23:17:00 GMT+0800 (CST) Remixd is listening on 127.0.0.1:65520

[2019-01-03 14:21] oberondelafay opened #1653 "When doesn't delete leave a gap in an array?"
When the thing being deleted from isn't an array...

I have literally 1 array in my entire codebase.  But I in order to be a good blockchain citizen, I frequently delete junk out of my mappings, this happens like hundreds of times.  Can you please make the following warning a little smarter?
[code]
Specifically if the thing being deleted from isn't an array, this warning shouldn't show.

Here is s

[2019-01-04 09:55] yann300 commented on #1651
please try installing `remixd` instead , i will take a  closer look

[2019-01-06 01:35] code-brewer commented on #1651
Thx. I have try stand-alone remixd combine with online https://remix.ethereum.org/,  it work.

[2019-01-06 05:18] JeremiGendron commented on #1198
@yann300 could you review #1657 and share some feedback?

[2019-01-07 01:46] labanskoller commented on #1352
I hit this problem while playing the 35C3 Junior CTF. I think it's a bug too, but I'm a newbie to Ethereum and Remix. This section of my challenge write-up describes my problem: https://labanskoller.se/blog/2019/01/07/solution-to-35c3-junior-ctf-challenge-entrance/#running-out-of-gas-and-problems-changing-the-limit
I've not tried the proposed fix in the linked pull request.

[2019-01-07 13:43] chriseth commented on #1644
This is a bug in a certain version of the compiler - it does not work properly if the javascript runtime environment does not provide enough stack space or memory. It should work with the most recent compilers. Which version were you using and on which system and browser?

[2019-01-07 14:01] yann300 commented on #1651
a fix has been published for remix-ide package, should be ok now.

[2019-01-07 14:01] #1651 closed

[2019-01-08 15:10] axic commented on #1644
The same problem also reported in #1659.

[2019-01-08 15:43] code-brewer commented on #1651
@yann300  can you point out which merge or commit fix this issue? I am curious about how it was fixing.

[2019-01-08 17:03] yann300 opened #1660 "Move the 5 first icons of FilePanel to the corresponding explorer"
- first third should be in `browser` explorer
- fourth is in the gist explorer
- fifth can be removed
- last one (remixd connection) could be put as an internal module cc @GrandSchtroumpf @ryestew

[2019-01-08 17:09] yann300 commented on #1651
npm install remix-ide should get the right version now.
commit https://github.com/ethereum/remix-ide/commit/8f706e485fb43e9a44dfe13e6909e32bf44dc51a
the URL has to be `localhost:8080` for now, that should set in an option I think. would you like to push a PR for adding that?

[2019-01-09 15:22] mul1sh commented on #1410
@CPSTL Sorry for the delay, modifying the plugin now 🙂

[2019-01-14 01:27] sunriseup opened #1662 "Unexpected end of JSON input while parsing near '...3.0.7","jshint":"^2.6'"
Run  npm install remix-ide -g on windows
Got：
1459 error Unexpected end of JSON input while parsing near '...3.0.7","jshint":"^2.6'

[2019-01-15 01:55] CamiloTD opened #1664 "Remix tries to encode Strings a JSON."
When i try to send a string with some special characters (like comma), it tries to parse it, i cant test with it.

![image](https://user-images.githubusercontent.com/12549059/51153537-9cd8be80-183e-11e9-849b-1dc0680242d6.png)

[2019-01-15 04:59] john-davis opened #1665 "In the Remix Web3 Provider IDE, how do you call a function in an ERC20 token contract from another contract without getting an estimateGas error?"
I am building a very basic smart contract, 'CheckAllowance', on top of the 'FiatTokenV1' ERC20 token in the Remix Web3 Provider IDE. When I try to check an address's allowance in the 'FiatTokenV1' token contract from my smart contract, I get an estimateGas error.

Here are the steps I take:

1. Initiate testrpc connection via MacBook terminal.
2. Deploy 'CheckAllowance' smart contract in Remix Web

[2019-01-15 09:00] Masa331 commented on #1644
Same for me on Firefox 64.0.2 (64-bit) on Arch Linux. It doesn't matter which compiler version i choose. It was working about a week ago but since then i think i did a packages update and i guess my Firefox could'v been updated from 64.0.1 as the update from 1-2 landed in package repositories on 10.1.2019

[2019-01-15 09:40] #1198 closed

[2019-01-15 14:10] yann300 commented on #1644
@Masa331 tried with Firefox 64.0 I can't reproduce
is the issue always reproductible?
Could you send the stack of the 2 errors
`A network error occured` and `compileJSON is not a function`

thanks for helping

[2019-01-15 16:30] yann300 opened #1667 "Solidity view - Ability to load a soljson.js from URL"

[2019-01-15 17:32] yann300 commented on #1664
you try here to encode an bytes array as string? why not having directly a byte array as parameter?
could you try `"['0x62', '0x62', '0x62']"`

[2019-01-15 18:14] CamiloTD commented on #1664
Hi yan300, i think the issue is in how the Remix is managing the data, when i try to send a string that contains some json special characters, it doesn't let me encode them.

im trying to upload an arbitrary html component
This Text: https://hastebin.com/xirihuzono.xml

its correctly quoted, and the " are scaped with \" but, it still tries to encode it as JSON
![image](https://user-images.githubus

[2019-01-16 07:22] bishaoqing opened #1668 "How to change remix-ide's addr to public IP"
I want to set up a remix-ide server for my group members, it means that I want remix-ide run with a public IP instead of localhost, but i find there are lots of  hard-code just like "http:localhost:8080" everywhere, what should i do? change them all?

[2019-01-16 10:11] yann300 commented on #1668
There's an issue for making this optional. in the meantime, you could checkout the latest release in github

https://github.com/ethereum/remix-ide/commit/18dffc7ab432cf05a244cce56d042566139deed1
in package.json, update `"serve": "execr --silent http-server .",` to serve on another port
then `npm install`
and `npm run build && npm run serve`

but if you want to a have a public IP for this, you coul

[2019-01-18 01:07] codydjango commented on #1644
I'm using Firefox 64.0.2 (64-bit), and getting an `Internal exception` when attempting to compile ballot.sol using the most recent compiler `Current version:0.5.2+commit.1df8f40c.Emscripten.clang`

`Internal exception in StandardCompiler::compileInternal: /root/project/libevmasm/ExpressionClasses.cpp(187): Throw in function ExpressionClasses::Id dev::eth::ExpressionClasses::tryToSimplify(const dev

[2019-01-18 01:16] codydjango commented on #1659
Anything I can do to help with this?

[2019-01-18 16:32] #1644 closed

[2019-01-18 16:33] axic commented on #1644
This will hopefully work again with 0.5.3 next week.

[2019-01-18 16:33] axic commented on #1659
This will hopefully work again with 0.5.3 next week.

[2019-01-19 12:06] axic commented on #1606
The version has to be hardcoded in Remix. It is the version known to be working with Remix.

[2019-01-19 12:13] axic commented on #1282
Depends on #1620.

[2019-01-19 12:18] axic commented on #1073
@yann300 you may be doing this already with #1620 ?

[2019-01-19 12:20] axic commented on #921
@yann300 @soad003 @chriseth this would be extremely important, because it would allow us removing the legacy version we've kept for over 2 years because of this code.

What would it take to get this done? Would a Gitcoin grant/bounty help? cc @ceresstation @owocki

[2019-01-19 12:21] axic commented on #831
@yann300 I'm not sure, but this may be the case already? If not, it shouldn't be too hard.

[2019-01-19 12:21] axic commented on #332
@yann300 maybe this was fixed over the years?

[2019-01-20 09:59] omrllm opened #1674 "Embed the Remix IDE into a static website"
Hi!

Is it possible to embed the Remix IDE into a static website? What if the website is dynamic.. still not possible?

[2019-01-21 08:54] yann300 commented on #1606
pushed during a refactor https://github.com/ethereum/remix-ide/blob/master/src/app/tabs/compile-tab.js#L68

should be definitely released in March

[2019-01-21 08:56] yann300 commented on #1606
reopening for handling

[2019-01-21 09:09] yann300 commented on #332
yes that can still be improved

[2019-01-21 09:09] #203 closed

[2019-01-21 10:05] yann300 commented on #1674
easy way it to put it in an iframe.
you could also rebuild it using a different `index.js`
https://github.com/ethereum/remix-ide/blob/master/src/index.js

[2019-01-21 10:10] alsco77 opened #1675 "Injected Metamask Rinkeby provider out of sync"
## Bug Description
 - Deployed a contract to Rinkeby via truffle, using Infura provider
 - Went to remix to test it out using the Rinkeby provider injected by MetaMask
 - Incorrect (empty) values being returned from the contract (either it is out of sync or is working on a different chain potentially due to fork?)
 - Switched to custom Web3 provider using personal Rinkeby Infura key and it allows

[2019-01-21 10:11] #1637 closed

[2019-01-21 11:42] axic commented on #921
@chriseth do we have a documentation listing differences?

[2019-01-21 11:50] omrllm commented on #1674
Yes, but I want just the place where I type and the compiler errors and output.

Something like JSBin.

[2019-01-21 12:08] yann300 commented on #1674
in that case, you could use the https://github.com/ethereum/remix/tree/master/remix-solidity or directly sol-js for compiling and displaying output, you'll need in that case to write the UI.
We are currently updating the UX of remix IDE. It will allow selecting which module you want to be loaded (in your case, solidity compiler and file editor), available in a few weeks

[2019-01-21 13:12] omrllm commented on #1674
Alright!

In the meantime I'm gonna use something else. Is there anyway to get notified when you will allow module selection?

[2019-01-21 15:41] soad003 commented on #921
Hi everyone, I am sorry that the old AST has become a burden. I agree that this has to be done and that it does not make sense to maintain two AST versions just because of the remix static analyser.

I am currently pretty tight on time. So everything that helps me better understanding the AST changes makes it easier for me to squeeze this in somehow. But it will take me some time for sure.

The ch

[2019-01-21 18:13] ceresstation commented on #1410
Hey @mul1sh Any updates on this? :)

[2019-01-22 08:51] LeviBarnes opened #1680 "Allow recorder .json file to control timestamps of transactions"
I'd like to modify the .json file created by the recorder to model the passing of time between calls. This is useful, for example, for testing a contract that computes time-based interest on a loan.

But, when I play the .json file, the timestamps on the Txs are the time they were played by the recorder not those given in the .json.

Could we allow the .json file to specify the timestamps for the

[2019-01-22 08:59] LeviBarnes commented on #1680
I'm glad to take a stab at fixing this, but is it going to do any damage to anyone else's use model?

[2019-01-22 09:59] #1074 closed

[2019-01-22 11:01] LianaHus commented on #1680
Hi @LeviBarnes . thanks for your proposal. Could you please provide more details on how are you going to implement this. It should not break the current behavior.

[2019-01-22 21:02] LeviBarnes commented on #1680
Here's a test case.

It's a one-to-one loan contract which charges interest. For testing purposes, it charges 134 wei per minute for each 1,000,000 wei outstanding.

The lender, 0xca.., pays 1 ether. The borrower borrows and gets paid 1 ether by the contract. After two minutes, the borrower repays 1 ether via the fallback function. Because of interest, the borrower still owes 1.000268 ether. He re

[2019-01-26 08:32] LeviBarnes commented on #1680
@LianaHus, what, then, do we think of this? IMO it's important to be able to use the recorder to replay contracts that use `now`. To do so, we'll need a change to remix-ide and one to remix.

The change to remix can be made such that a timestamp passed to `txRunner.rawRun` will override the default behavior, which is to just use `Date.now()` as the timestamp. Without a passed timestamp, behavior r

[2019-01-30 18:36] folex opened #1681 "Remix IDE hangs when using slider in debug mode"
So, I have the following contract code  https://gist.github.com/folex/1a5d9f926972e294fcc294a08b94c3c7

The steps are:
1. Compile contract with Solidity 0.4.24 (optimizations enabled)
2. Deploy on JS VM
3. Call addApp with arguments: "0xabab", "0xabab", 7, ["0xabab", "0xabab"]
4. Press 'Debug' on transaction in console
5. Move slider to the right

And it hangs for a while, and then show Chrome's "

[2019-01-31 08:31] skfarhat commented on #1591
I get the same `Too much recursion error` when trying to load pre-v5 compiler. It works fine on Chrome and Safari, but not on Firefox.

[2019-02-02 22:43] lukmaz opened #1684 "Cannot verify signature created in JavaScript VM"
Hi,
I want to sign a message in JavaScript VM environment. I noticed this is enabled since fix #952 merged in PR #1474 (@oogetyboogety , @yann300 ). I've spent a couple of hours trying to use this feature with no success. My contract code is:
[code]
I am in "JavaScript VM" environment and I want to sign message `helloworld` using the first account from the list (`0xca35b7d915458ef540ade6068dfe2f44

[2019-02-04 07:34] LianaHus commented on #1645
@BaiMingxu  I'm closing the issue. If you still have problems you are free to ask for help in our [gitter channel ](https://gitter.im/ethereum/remix).

[2019-02-04 07:34] #1645 closed

[2019-02-04 17:14] stefek99 commented on #1410
Did I miss something?

![image](https://user-images.githubusercontent.com/249703/52224570-3de7f180-28a0-11e9-8bc3-2f7964f2039b.png)

Last commit two months ago...

[2019-02-04 17:47] mul1sh commented on #1410
@stefek99 sorry i've not pushed my changes, pushing now

[2019-02-05 02:54] alsco77 commented on #1675
IIRC - I am able to test by deploying directly through Remix however have to work around my ZOS upgradable proxy pattern, so is not ideal. The contract is over the gas limit for Ropsten deployment so unfortunately I can't just switch testnets.

[2019-02-06 10:03] balajipachai commented on #1684
@LianaHus
You are missing out the value for **v**
_The special signature variable **v** indicates two things: the chain ID and the recovery identifier to help the ECDSA recover function check the signature. It is calculated as either one of 27 or 28, or as the chain ID doubled plus 35 or 36._
**Pass the value of v to be 0x1b or 0x1c instead of 0x00**
Reference:
[Transaction Signing in Practice](ht

[2019-02-06 11:39] lukmaz commented on #1684
Well, I am not "missing" **v**. I've entered 0x00 because this is the last byte in the **signature** field produced by Remix which should correspond to the **v** value.

You are right that in my case **v** should be equal to 0x1b and then the address is recovered correctly. I also tried the second address from the "JavaScript VM" list and 0x1c works for it. So why Remix produces 0x00 or 0x01?

I'v

[2019-02-06 16:11] oogetyboogety commented on #1684
We can fix this with @yann300's approval if it's a bug according to spec. I'll take a look today.
________________________________
From: lukmaz <notifications@github.com>
Sent: Wednesday, February 6, 2019 6:39:46 AM
To: ethereum/remix-ide
Cc: oogetyboogety; Mention
Subject: Re: [ethereum/remix-ide] Cannot verify signature created in JavaScript VM (#1684)

Well, I am not "missing" v. I've entered 0

[2019-02-07 09:26] tadejrola opened #1685 "Address to clipboard does not work on Chrome v72.0.3626.96"
After updating Google Chrome to its latest version [72.0.3626.96] copying address value to clipboard, by pressing "Copy value to clipboard" button, does not work.

Steps to reproduce:

1. Use Windows (did not try on any other OS),
2. Use Google Chrome version 72.0.3626.96,
3. Go to https://remix.ethereum.org/ and tab 'Run'
4. Press 'Copy to clipboard' button in the 'Address' section
5. Try to past

[2019-02-07 14:55] GrandSchtroumpf commented on #1685
Yes I can reproduce it with 72.0.3626.96 on Windows 10. Didn't get this issue with version 71.
I'll check the changes of 72 to understand what's wrong.

[2019-02-07 14:58] LianaHus commented on #1685
managed to update to 72.x
Can reproduce it on linux as well. thanks for the report.

[2019-02-10 16:00] sindelio opened #1686 "Copy ABI and Bytecode buttons not working on Google Chrome"
The copy to clipboard buttons are not working properly on Google Chrome. When I try to copy the ABI or Bytecode, they don't actually copy those, so CTRL+V does not work.
Works on Firefox tho.

Environment:
OS: Ubuntu 18.04
Browser: Chrome Version 72.0.3626.96 (Official Build) (64-bit)

[2019-02-11 10:04] yann300 commented on #1410
hi @mul1sh thanks,
I get this `plugin.js:11 Uncaught (in promise) ReferenceError: $ is not defined` when trying to verify.

[2019-02-11 10:04] yann300 commented on #1410
is that a broken jquery reference?

[2019-02-11 10:40] LianaHus commented on #1686
I assume this is the same issue https://github.com/ethereum/remix-ide/issues/1685

[2019-02-11 15:20] enginguray commented on #1685
Same issue with me. What was your solution for the case?

[2019-02-12 11:39] #1680 closed

[2019-02-14 04:17] hapsody commented on #1685
same problem here on chrome version 72.0.3626.109(official build) (64bit)

[2019-02-14 10:02] juarezweiss commented on #1685
Same problem here, just updated Chrome yesterday.

[2019-02-14 17:20] GrandSchtroumpf opened #1695 "UX feedbacks"
_Feedbacks 14 / 02 / 2019_
**User**: Developer web. Some experience with Remix.
**Feeling** : "Lost", "Confuse"
**Requests** :
- [x] Add a header on top of each module.
- [x] Names of the modules should be more explicite.
- [x] Icons should be more explicite.
~~- [ ] Add colors theme for activated / deactivated modules.~~
- [x] Having a BIG "quick start" on the homepage page.

**Observations**:
He

[2019-02-14 17:50] yann300 commented on #1695
thanks for that!
for `* Add a header on top of each module.`
you mean in the swap panel right? having a header title where we would display the current displayed module / plugin ?

[2019-02-14 17:51] yann300 commented on #1695
`Then he was surprised by a contract size 64px` ? could you explain more?

[2019-02-14 18:04] yann300 commented on #1695
I find all these comments very relevant.
shall you implement all these?
@ryestew @LianaHus @GrandSchtroumpf

beside that I am also a bit concerned that at the moment (in remix.ethereum.org) most of the users 80% of the time use the compile and run tab, and it is fairly easy to switch between them.
In the new interface it should be as easy as in the old one to have the flow : I compile / I run / I

[2019-02-14 19:10] GrandSchtroumpf commented on #1695
He means a header at the top of the swap panel. Like "File Manager" for example or "Compiler".

He clicked several times on the "+" button that makes the font-size bigger, but nothing changed on the "homepage". Then he created a new file, and the size of the font in the editor was 64px. So he was confused and thought it was the default size. I had to explained that was because he clicked on the "+

[2019-02-15 06:10] Skyge commented on #1685
Same problem here, just updated Chrome. 72.0.3626.109(official build) (64bit)

[2019-02-15 15:20] xerg0n commented on #1659
Problem persists for me on Firefox Quantum 65.0 (64-bit)
OS is 4.19.20-1-MANJARO

[2019-02-16 00:04] #1632 closed

[2019-02-16 14:20] superman285 commented on #1686
I face the same problem, need help~

[2019-02-16 16:19] maxsam4 commented on #1685
Fixed it in https://github.com/feross/clipboard-copy/pull/31

I'd recommend waiting a couple of days for upstream to merge fix/implement their own fix and updating the dependency version then. Alternatively, the fix(or the whole script) can be picked up and kept as a part of this repo.

[2019-02-17 04:23] LingTian commented on #1686
Reproduce in following environment
Environment:
OS: MacOS 10.13.6
Browser: Version 72.0.3626.109
Also not working~

[2019-02-17 04:49] taylorjdawson commented on #1686
Can confirm not working for me either.

[2019-02-17 18:36] itstehkman commented on #1531
@yann300 I am also having this issue - do you think you can reopen this issue and take a look? 🙏

[2019-02-18 08:39] yann300 commented on #1531
@itstehkman could you ensure remixd has been turned on?

[2019-02-18 09:13] maxsam4 commented on #1686
I think it might be best to close duplicate issues.

[2019-02-18 09:34] yann300 commented on #1684
@oogetyboogety
indeed, a fix should be added to https://github.com/ethereum/remix-ide/blob/236f26a83923b414b3b09c6153ca982c27ced8e2/src/app/tabs/runTab/model/settings.js#L81

@owocki could we set a bounty for this one?

[2019-02-18 14:16] fulldecent commented on #1531
These recent comments seem unrelated to the original issue, please open a new issue

[2019-02-18 17:36] GrandSchtroumpf commented on #1695
_Feedbacks 18 / 02 / 2019_
**User**: Beginner web developer. Used Remix 4-5 times.
**Feeling** : "Lost", "not guided"
**Requests** :
- [ ] Having a "Getting Started"
- [ ] Compiler and Run Tx should be by default.
- [ ] Solidity module should be called "Solidity Compiler" and "Run Transaction" should be call "Deploy Contract" bacause this is what people look for it first.
- [ ] The sidebar should

[2019-02-18 18:07] 0mkara commented on #1695
`Run Transaction` or `Deploy Contract` should not be default action as we need to put `arguments` and change gas supply before deploying contracts.

[2019-02-19 06:07] AsadAazam opened #1698 "remix.etherum.org site not found error"
kindly help me with this error

[2019-02-19 12:51] anistark commented on #1698
Same here

[2019-02-19 12:52] anistark opened #1699 "Remix ide running throws console error"
Installed dependencies with `npm install` and ran the project with `npm start`.

The webpage at `http://localhost:8080/` doesn't load completely and throws the following error on browser console:

[code]

Anybody else facing this or fixed it ?

[2019-02-19 16:55] LianaHus commented on #1698
seems like DNS problems. We are on it. thanks for the report.

[2019-02-19 17:04] #1674 closed

[2019-02-19 21:44] kot-begemot commented on #1499
I am facing this issue now. Has it been reintroduced?

[2019-02-19 23:59] owocki commented on #1684
@yann300 sure how much do you think its worth

[2019-02-20 02:21] sharonsylu commented on #1499
Seems to a DNS issue again.

@kot-begemot:  Is your firewall using Google Public DNS as default?

https://dns.google.com/query?name=remix.ethereum.org&type=ANY&dnssec=true

"DNSSEC validation failure. Check http://dnsviz.net/d/remix.ethereum.org/dnssec/ and http://dnssec-debugger.verisignlabs.com/remix.ethereum.org for errors"

[2019-02-20 02:23] sharonsylu opened #1703 "Google Public DNS isn't validating"
Seems to a DNS issue again.

Our firewall is set Google Public DNS as default by our administrator.  We can't access remix.ethereum.org. Please update!

https://dns.google.com/query?name=remix.ethereum.org&type=ANY&dnssec=true

"DNSSEC validation failure. Check http://dnsviz.net/d/remix.ethereum.org/dnssec/ and http://dnssec-debugger.verisignlabs.com/remix.ethereum.org for errors"

_Originally pos

[2019-02-20 02:24] seandotau commented on #966
Thanks for this @yann300 . Could you elaborate under what situation would the memory need to be extended? Is it a linear increase as well? Just curious.

[2019-02-20 09:14] yann300 commented on #1684
hello @owocki, i would set it to 50DAI
thanks for this

[2019-02-20 09:53] yann300 commented on #1699
fix https://github.com/ethereum/remix-ide/pull/1704
that is due to an update in one of our dependencies.

[2019-02-20 09:55] yann300 opened #1705 "swap_it branch bug list"
- [x] When clicking on `Run Tests` under `Unit Testing` I've got `self.compileTab.importFileCb is not a function`

 - [x] When using `Vyper` the solidity compiler tries to compile and fails.

 - [x] Pipeline should open on activation (not current behavior), but vyper should not (current behavior)

 -  ~~[ ] When `ethdoc` is activated, an empty iframe pop at the bottom of the page. Maybe it should

[2019-02-20 11:10] LianaHus opened #1706 "Featuring Website"
https://hackmd.io/ZhAOAlyPQTK3TbHe9c9dng?view

# Featuring site
 **The purpose and goals**
To create a featuring site where the user can learn about remix. Explore what is already done, learn about our plans and goals. Find all links to remix related sources in one place. Read news and updates.

**Content**
* What is the Remix?
   * General info - what is remix
   * who we are, where, staff - team

[2019-02-20 11:13] LianaHus commented on #1703
@JeremiGendron

[2019-02-20 11:13] LianaHus commented on #1703
@jpitts

[2019-02-20 12:26] praneethvallabha opened #1707 "https://remix.ethereum.org/ is not working"
Not able to use online verison of remix. The site can't be reached. Any one has some idea about any site change!
![user-pc-2019-feb-20-044](https://user-images.githubusercontent.com/44611528/53091763-256c0e00-3513-11e9-95a0-5e96994a510c.jpg)

[2019-02-20 13:12] praneethvallabha commented on #990
mock compiler : source code not found
![capture](https://user-images.githubusercontent.com/44611528/53094103-88f93a00-3519-11e9-81b5-fbe83d2617d8.JPG)

[2019-02-20 13:57] mettinger commented on #1707
I have had this same problem for 2 or 3 days.  I discovered that Remix was available from other IPs which led me to question whether my IP address had been banned for some reason?  My use of Remix has not been unusual and there would be no reason for a ban.

In order to access Remix I had to utilize a VPN.  This works but is an expense and an inconvenience.  Any idea what is going wrong?

[2019-02-20 14:42] LianaHus commented on #1707
https://github.com/ethereum/remix-ide/issues/1703

[2019-02-20 14:43] LianaHus commented on #1698
https://github.com/ethereum/remix-ide/issues/1703

[2019-02-20 14:45] #1699 closed

[2019-02-20 14:51] mettinger commented on #1703
I'm not a networking guy so this comment may be naive and irrelevant but when this issue first started happening to me I switched to Cloudfare DNS at 1.1.1.1 and it didn't fix the problem.

[2019-02-20 21:19] lucassaldanha commented on #1499
Still down :(

[2019-02-20 21:26] lucassaldanha commented on #990
Same thing happening here. I wonder if it is related to the following warning in the logs:

[2019-02-20 22:18] kot-begemot commented on #1499
@maxsam4 Posted a solution with hosts file that worked for me

[2019-02-20 22:20] lucassaldanha commented on #1499
Yep. The hosts file workaround works fine. Thanks!

Still a bad thing we are having these DNS issues though.

[2019-02-21 09:44] skykingit opened #1714 "npm run build error-'support-tab.js'"
After npm install
i run 'npm run build',then the console show error as below:

sh-3.2# npm run build

Error: /Users/skykingit/Documents/pchain/ethereum/remix-ide-master/src/app/tabs/support-tab.js: multiple root elements must be wrapped in an enclosing tag
    at /Users/skykingit/Documents/pchain/ethereum/remix-ide-master/node_modules/hyperx/index.js:153:13
    at yoyoify (/Users/skykingit/Documen

[2019-02-22 08:36] YannickXiong commented on #990
@pertsev

Hi, bro, I tried, but did not work for me.
![image](https://user-images.githubusercontent.com/33046810/53229510-59843200-36bf-11e9-922f-08543e06ce5d.png)

and the build/app.js is modified as below.

235136     };self.data = {
235137       allversions: null,
235138       selectedVersion: null,
235139       baseurl: 'solc-bin/bin'       // before is : baseurl: 'https://solc-bin.ethereum.or

[2019-02-22 10:50] prographo opened #1746 "Metamask deploy transaction call no longer filling in Gas."
It used to be that the gas was automatically filled in, now the metamask popup comes up with 0 and you have to edit it. Is this intentional or a regression? If intentional pls ignore this and my apologies.

Image: https://pasteboard.co/I2kk1XC.png

[2019-02-22 16:13] taylorjdawson commented on #1686
@maxsam4 Awesome, thanks!

[2019-02-22 16:14] taylorjdawson commented on #1685
Awesome, thanks @maxsam4!

[2019-02-22 16:32] owocki commented on #1684
@yann300 let me know if/when to pay out

[2019-02-25 12:20] yann300 opened #1721 "ethcc workshops"
- [ ] make solidity code available (either github token access or direct link)
- [x] bootstrap css on swap_it
- [x] merge bootstrap to master and deploy to remix-alpha
- [ ] https://hackmd.io/7ABOanKpQDm5RJK_vxATbg#
- [ ] releasing remix-tests / remix-debug / remix-lib
- [x] structure of beginner workshop
- [x] structure of advanced workshop
- [x] move homepage to inside settings
- [x] pipeline /

[2019-02-27 16:07] cdetrio commented on #1620
Looks like there was some progress in https://github.com/ethereum/remix-ide/pull/1650

[2019-02-28 04:55] wjmelements commented on #1406
Many (perhaps most) smart contracts benefit from optimization beyond the default 200 runs. It would be useful to be able to configure this compiler parameter in the IDE. Perhaps set a practical maximum at 10,000,000 or so, but for my own uses I am supplying 20,000, which had a [measured](https://github.com/trusttoken/trueUSD/pull/76) gas reduction compared to 200 and even 10,000.

[2019-03-01 18:41] projectoblio commented on #1412
solidity will throw an error if you use the address remix-ide gives you. lol ok

[2019-03-02 14:25] GrandSchtroumpf commented on #1705
- [ ] When opening a new plugin the height of the iframe shoud be 100% of the swap panel

[2019-03-03 04:14] projectoblio opened #1735 "Web3 deploy code outdated inside `details` button"
Please update the Web3 deploy code for the `broken` -- i mean `new` version of Web3, Web3js-1.0.0

[2019-03-04 07:05] JacksonTom commented on #1458
same problem

[2019-03-04 08:17] yann300 commented on #1458
could you post the error you get please?

[2019-03-05 07:07] i-am-vivek commented on #1422
turning off the optimization helped me to verify the contract.

[2019-03-05 09:08] axic commented on #1282
With 0.5.5 it will default to Petersburg (and not Byzantium), unless the field is specified. If Remix doesn't fix #1620, then the only quick solution is hardcoding `Byzantium` in Remix.

[2019-03-05 09:09] yann300 commented on #1620
@axic we are using 2.6.0 by default now, but the switch isn't there

[2019-03-05 11:32] LianaHus opened #1740 "Swap_it UI notes"
1. resize swap panel
2. Opposite color for icons on panel (.fa {color : red;}?)
3. show description instead of a name as a tooltip for modules/plugins
4. Capital letter for DispleyName modules
4. row items of plugins should be thinner
![screenshot from 2019-03-05 10-09-41](https://user-images.githubusercontent.com/9685356/53793788-d79dcf80-3f2e-11e9-8549-561bdefd60c1.png)
5. what does this Home? d

[2019-03-05 13:53] #1707 closed

[2019-03-05 13:53] #1703 closed

[2019-03-05 13:53] #1698 closed

[2019-03-07 11:09] PierBusDev commented on #1591
Getting the same error recently any time I try to load pre-v5 version. I think this should have an high priority considering it is blocking for anyone who want to develop and compile on those versions.

[2019-03-07 11:25] yann300 commented on #1591
@ekpyron @chriseth @axic weren't the previous version patched?

[2019-03-07 15:23] ekpyron commented on #1591
The previous versions weren't patched so far - we're now considering releasing "browser stack fix" variants for all past versions, but that requires manually splitting up the rule list function in each one of them, which is quite some work, so nobody has volunteered for it yet :-).

By the way: this is actually an issue of the browsers, since they just randomly lower their maximum javascript stack